
<ion-view title="Customer Details">
  <ion-content class="backgrd">
    <div class="list">
      <div class="card">
<div class="row" ng-if="customer_details.customer_name">
  <div class="col col-50 name">
    Customer name:
  </div>
  <div class="col col-50 col-center">
    {{customer_details.customer_name}}
  </div>
</div>
<div class="row" ng-if="customer_details.customer_mobile_number">
  <div class="col col-50  name ">
    Mobile Number:
  </div>
  <div class="col col-50 col-center ">
    {{customer_details.customer_mobile_number}}
  </div>
</div>
<div class="row" ng-if="customer_details.email">
  <div class="col col-50  name">
    Email Id:
  </div>
  <div class="col col-50 ">
    {{customer_details.email}}

  </div>
</div>
<div class="row" ng-if="customer_details.customer_address">
  <div class="col col-50 name">
    Address:
  </div>
  <div class="col col-50">
    {{customer_details.customer_address}}
  </div>
</div>
<div class="row" ng-if="customer_details.local_contact_person_name">
  <div class="col col-50 name">
    Contact Person Name:
  </div>
  <div class="col col-50 col-center">
{{customer_details.local_contact_person_name}}
  </div>
</div>
<div class="row" ng-if="customer_details.local_contact_person_email">
  <div class="col col-50  name ">
Contact Person Email:
  </div>
  <div class="col col-50 col-center ">
{{customer_details.local_contact_person_email}}
  </div>
</div>
<div class="row" ng-if="customer_details.local_contact_mobile_number">
  <div class="col col-50  name">
Contact Person Mobile:
  </div>
  <div class="col col-50 ">
{{customer_details.local_contact_mobile_number}}
  </div>
</div>
<div class="row" ng-if="customer_details.power_holder_name">
  <div class="col col-50 name">
    Power Hodlder Name:
  </div>
  <div class="col col-50">
{{customer_details.power_holder_name}}
  </div>
</div>
<div class="row" ng-if="customer_details.power_holder_email">
  <div class="col col-50 name">
    Power Hodlder Email:
  </div>
  <div class="col col-50">
{{customer_details.power_holder_email}}
  </div>
</div>
<div class="row" ng-if="customer_details.power_holder_mobile_number">
  <div class="col col-50 name">
    Power Hodlder Mobile:
  </div>
  <div class="col col-50">
{{customer_details.power_holder_mobile_number}}
  </div>
</div>
      </div>
    </div>
     <div class="item item-divider text-center head_1">
    Property Detail
  </div>
<ion-list ng-if="customer_details.properties.length > 0">
<ion-item class="card" ng-repeat="property in customer_details.properties">
 
    <div class="row">
      <div class="col col-50 name">
        Property name:
      </div>
      <div class="col col-50 col-center">
{{property.property_name}}
      </div>
    </div>
    <div class="row item-text-wrap">
      <div class="col col-50  name ">
Property Type:
      </div>
      <div class="col col-50 col-center ">
{{property.property_type}}
      </div>
    </div>
    <div class="row">
      <div class="col col-50  name">
        Status:
      </div>
      <div class="col col-50 ">
{{property.available_status}}
      </div>
    </div>
    <div class="row">
      <div class="col col-50 name">
        Address:
      </div>
      <div class="col col-50">
{{property.property_address}}
      </div>
    </div>
<div ng-if="property.images.length > 0">
<ion-scroll direction="x">
<img ng-repeat="img in property.images" ng-src="{{img_url}}{{img.image_path}}/{{img.image_name}}"
ng-click="showImages($index,property.images)" class="image-list-thumb"  ng-class="{'position:relative':
image.checked}">
</ion-scroll>
</div>
  </ion-item>
</ion-list>
  </ion-content>
</ion-view>
