
<ion-view view-title="Customer Details">
 <div class="bar bar-subheader bar-balanced item-input-inset" ng-hide="emptyimg">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-model="search">
  </label>
 
</div>
  <ion-content class=" backgrd has-subheader">
 <ion-refresher on-refresh="customers_list()" > </ion-refresher>
<!-- 
      <img src="img/Capture.jpg" alt="No Data Found"  ng-show="emptyimg" class="empty_img"> -->
 
         

<ion-list ng-hide="emptyimg">

<ion-item class="card" ng-repeat="customer in customer_list  | filter:search" ><!-- ng-click="customer_details(customer.id)"> -->
  <!-- <a class="item " href="#/app/property_detail/{{prop.id}}"> -->
<div class="row">
  <div class="col col-50 name">
   Name
  </div>
  <div class="col col-10">
  :</div>
  <div class="col brk_1">
    {{customer.customer_name}}({{customer.username}})
  </div>
</div>
<div class="row">
  <div class="col col-50  name ">
    Mobile Number
  </div>
  <div class="col col-10">
  :</div>
  <div class="col">
    {{customer.customer_mobile_number}}
  </div>
</div>
<div class="row">
  <div class="col col-50  name">
    Email ID
  </div>
  <div class="col col-10">
  :</div>
  <div class="col brk_1">
    {{customer.email}}
  </div>
</div>
<div class="row">
  <div class="col col-50 name">
  Address  </div>
 <div class="col col-10">
  :</div>
  <div class="col brk_1">
{{ customer.customer_address}}
  </div>
</div>
<div class="row">
  <div class="col col-50 name">
  Status  </div>
 <div class="col col-10">
  :</div>
  <div class="col">
{{customer.status}}
  </div>
</div>

<!-- <div class="row">
  <div class="col col-50 name">
    Address:
  </div>
  <div class="col col-50">
    {{customer.customer_address}}
  </div>
</div> -->
<!-- </a> -->
  </ion-item>
</ion-list>
  </ion-content>
<ion-content  ng-show="emptyimg" class="scr_1">
  <img src="img/Capture.jpg" alt="No Data Found" class="nodata_1 ">
  </ion-content>

</ion-view>