<ion-modal-view class="backgrd">
 <ion-header-bar class="bar bar-header bar-balanced">
  <h1 class="title">New Customer</h1>
  <div class="buttons">
    <button class="button button-icon ion-close-circled" ng-click="customer.hide()"></button></div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class=" list card cont_2">
      <div class="row">
        <div class="col col-33 col-center">
        Select service </div>
        <div class="col col-67">
          <input type="text"  ng-model="service"  ng-disabled="true" >
        </div>
      </div>
      <div class="row">
        <div class="col col-33  col-center">
        Customer Name </div>
        <div class="col col-67">
          <input type="text"  ng-model="name"  ng-disabled="true" >
        </div>
      </div>
      <div class="row">
        <div class="col col-30  col-center">
        Contact No </div>
        <div class="col col-70">
         <input type="text"  ng-model="contactno"  ng-disabled="true" >
        </div>
      </div>
      <div class="row">
        <div class="col col-33  col-center">
        Email Id </div>
        <div class="col col-67">
         <input type="text"  ng-model="emailid"  ng-disabled="true" >
       </div>
     </div>
     <div class="row">
       <div class="col col-33  col-center">
       Description</div>
       <div class="col col-67">
         <textarea  rows="5" ng-model="address" ng-disabled="true" cols="23"></textarea>
       </div>
     </div>
     <img class="full-image" src="img/max.png"> 
     <div class="row">
      <div class="col col-50">
        <p class="text-left ">Date : 09/12/2019</p></div>
        <div class="col col-50">
          <p class="text-right">Time : 12:00 PM</p></div>
        </div>
        <div class="padding-top text-center ">
         <a class="button  button-positive button-small hed_4"> send mail</a>
         <a class="button  button-positive button-small hed_4">call</a>
       </div>
     </div>
     
   </ion-content>
 </ion-modal-view>
