   <ion-modal-view class="backgrd">
    <ion-header-bar class="bar bar-header bar-balanced">
      <h1 class="title">Existing Customer</h1>
      <div class="buttons">
        <button class="button button-icon ion-close-circled" ng-click="modal.hide()"></button></div>
      </ion-header-bar>
      <ion-content class="padding">
       <div class="  list card cont_2">
         <div class="row">
          <div class="col col-33  col-center">
          Property Code </div>
          <div class="col col-67">
            <input type="text"  ng-model="Propertycode"  ng-readonly="true" >
          </div>
        </div>
        <div class="row">
          <div class="col col-33  col-center">
          Property Name  </div>
          <div class="col col-67">
            <input type="text"  ng-model="Propertyname"  ng-readonly="true" >
          </div>
        </div>
        <div class="row">
          <div class="col col-33  col-center">
          Customer Id </div>
          <div class="col col-67">
            <input type="text"  ng-model="name"  ng-readonly="true" >
          </div>
        </div>
        <div class="row">
          <div class="col col-33  col-center">
          Name </div>
          <div class="col col-67">
            <input type="text"  ng-model="name"  ng-readonly="true" >
          </div>
        </div>
        <div class="row">
          <div class="col col-33  col-center">
          Contact No </div>
          <div class="col col-67">
           <input type="text"  ng-model="contactno"  ng-readonly="true" >
         </div>
       </div>
       <div class="row">
        <div class="col col-33  col-center">
        Email Id </div>
        <div class="col col-67">
         <input type="text"  ng-model="emailid"  ng-readonly="true" >
       </div>
     </div>
     <div class="row">
       <div class="col col-33  col-center">
       Address </div>
       <div class="col col-67">
         <textarea  rows="5"  ng-model="address"    ng-readonly="true"></textarea>
       </div>
     </div>
     <div class="row">
      <div class="col col-33  col-center">
      Enquiry</div>
      <div class="col col-67">
       <textarea  rows="5"  ng-model="description"    ng-readonly="true"></textarea>

     </div>
   </div>
  
   <img class="full-image" src="img/max.png"> 
   
   <div class="row">
    <div class="col col-50">
      <p class="text-left ">Date : 09/12/2019</p></div>
      <div class="col col-50">
        <p class="text-right">Time : 12:00 PM</p></div>
      </div>
      
      <div class="padding-top text-center ">
       <a class="button  button-positive button-small hed_4"> send mail</a>
       <a class="button  button-positive button-small hed_4">call</a>
     </div>
   </div>



 </ion-content>
</ion-modal-view>
