<ion-view title="View Enquiry">
  <ion-content class="backgrd" ng-controller="EnquiryCtrl" >
   <div class="row row-center" >
    <div class="col text-center" >
     <img class="cover-image padding" src="img/logo.png" >
   </div>
 </div>
 <div class="list card padding-bottom">
   <a class="item item-icon-left" ng-click="modal.show()">
    <i class=" icon_1 ion-document"></i>
    Existing Customer
  </a>
  <a class="item item-icon-left" ng-click="customer.show()">
   <i class="icon_1 ion-document"></i>
 New Customer  </a>
</div>


</ion-content>
</ion-view>