 <ion-view hide-nav-bar="false">
   <ion-content class="backgrd padding tag_2">
    <div class="text-right pas_1">
    </div>
     <a class="pass_2 text-center" href="#/menu_welcome"> Back to Home <i class="icon ion-chevron-right " style="padding-left: 9px;"></i></a>
     <div class="row row-center">
      <div class="col text-center">
        <img class="cover-image padding" src="img/logo.png">
      </div>
    </div>
   
    <div class=" cont_1">
      <div class="row ">
        <div class="col col-50  text-center  padding-top">
         <a class="" href="#/service">
           <i class="icon ion-android-settings round-icon icon_common home_1"></i>
           <h4>SERVICES</h4>  
         </a>
       </div>
       <div class="col col-50  text-center padding-top">
         <a class="" href="" onclick="window.open('http://www.rajamproperty.com/contact.html','_system','location=yes')">
          <i class="icon ion-android-call round-icon icon_common home_1"></i>
          <h4>CONTACT US</h4>
        </a>
      </div>
    </div>

    <div class="row">
     <div class="col col-50   text-center padding-top">
       <a class="" href="" onclick="window.open('http://www.rajamproperty.com/testimonials.html','_system','location=yes')">
        <i class="icon ion-ios-chatboxes round-icon icon_common home_1"></i>	
        <h4>TESTIMONIAL</h4>
      </a>
    </div>
    <div class="col col-50  text-center padding-top">
      <a class="" href="#/first_enquiry">
       <i class="icon ion-document-text round-icon icon_common home_1"></i>
       <h4>ENQUIRY</h4>
     </a>
   </div>

 </div>
</div>
 
</ion-content>
</ion-view>