 <ion-view   title="Enquiry">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button>
          </ion-nav-back-button>
      </ion-nav-bar>

  <ion-content class="backgrd padding  has-header">
    <ion-list>
      <!-- <ion-radio ng-model="choice" ng-value="'A'" ng-click="enquiry(x)">New Customer</ion-radio> -->
      <div class="item-accordion">


      <div class="card cont_2 tech_1 tech_2"  style="box-shadow: -3px -2px 6px 1px rgba(142, 136, 136, 0.3), -1px 8px 6px 0px rgba(82, 80, 80, 0.22);">
        <form name="myForm">

          <label class="item item-input item-select  row">

            <div class="input-label name">
               Category
            </div>
            <select ng-model="enquiry_input.service" ng-options="category.id as category.category_name for category in categories"  >
             <option disabled selected value="">Select Option</option>
           </select>
         </label>
         <div class="row">
       <div class="col col-33  col-center name">
         Name
        </div>
         <div class="col">
          <input class="input_field " ng-pattern="/^[a-zA-Z\s]*$/" type="text" placeholder="Enter Your  Name" name="name" ng-model="enquiry_input.name" >
          <span class="help-block " ng-class="err_word.name" ng-show="err_word.name" style="float:right;color:red">
            Name is required
          </span>
           </div>

      </div>

      <div class="row">
      <div class="col col-33  col-center name">
      Mobile Number</div>
        <div class="col item-text-wrap">

          <!-- <input type="text"  placeholder="Enter Contact No" ng-model="enquiry.number"> -->
          <input type="text"
          id="inputPhone"
          name="phone"
          placeholder="Enter Your Number"
          ng-model="enquiry_input.contact_no"
          ng-required="true"
          numbers-only="numbers-only">
          <span class="help-block" ng-class="err_word.contact_no" ng-show="err_word.contact_no" style="float:right;color:red">
            Contact number is required
          </span>

      </div>
    </div>
    <div class="row">
      <div class="col col-33  col-center name">
      Email ID </div>
      <div class="col">
       <input  type="email" name="input" ng-model="enquiry_input.email" placeholder="Enter Your Email" required>
       <span class="help-block" ng-class="err_word.email" ng-show="err_word.email" style="float:right;color:red">
        Email ID is required
       </span>
     </br>
     <span class="error" ng-show="myForm.input.$error.email">
      Not a valid email!
    </span>
 </div>
</div>


<div class="row">
 <div class="col col-33  col-center name">
 Description</div>
 <div class="col ">
   <textarea  rows="4" placeholder=" Enter Description"  cols="23" ng-model="enquiry_input.description"></textarea>
   <span class="help-block" ng-class="err_word.description" ng-show="err_word.description" style="float:right;color:red">
    Description is required
  </span>
</div>
</div>

 <label class="item item-input item-select form_1 row">
   <div class="input-label name">
     Contact By
   </div>
   <select ng-model="enquiry_input.type_of_contact" >
    <option disabled selected value="" >Select Option </option>
    <option value="call">call</option>
    <option  value="mail">Mail</option>
  </select>
  </label>
    <span class="help-block " ng-class="err_word.type_of_contact" ng-show="err_word.type_of_contact" style="float:right;color:red">
  select contact type
</span>

<br>
<div class="row size_1">
 <div class="col col-50 name">
    <p class="">Upload Image</p>
  </div>
   <div class="col col-50">
  <button  accept="image/*"  ng-model="files" ngf-multiple="true"  required class="button button-positive button-small hedd_4 icon ion-camera butn" ng-click="showActionsheet()" ng-model="photos" ng-class="err.photos"></button>
</div>
</div>
<ion-scroll direction="x" class="item item-list-detail" ng-if="image_a.length > 0">
  <div>
   <span ng-repeat="imgs in image_a">
    <img ng-src="{{imgs | convertFileSrc}}" ng-click="showImages($index,image_a)" class="image-list-thumb" />
    <a class="button ion-close-circled butn_delt" ng-click="remove(imgs)"></a>
  </span>
</div>
</ion-scroll>
<div class="text-center padding ">

  <button class="button button-positive button-small hed_4"  ng-click="fieldcheck(enquiry_input,image_a)" >
    Submit
  </button>
</div>
</form>
</div>
</div>
</ion-list>
</ion-content>
</ion-view>
