<ion-view hide-nav-bar="true" class="loginBg  ">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <ion-content class="pre-login backgrd">
    <div class="row row-center tag_2">
      <div class="col text-center">
        <img class="cover-image padding" src="img/logo.png">
      </div>
    </div>
    <form ng-show="step1" name="myForm1" class="hed_2">


      <label class="item item-input item-floating-label log_place">
        <span class="input-label text">Enter Your Email</span>
        <!--  <input type="text" class="" ng-model="login_data.id" placeholder="Username"> -->


        <input class="text_center " type="email" placeholder="Email ID" name="username" ng-model="data.email"
          ng-required="true" ng-class="{ 'has-errors' : myForm1.user_id.$invalid && !myForm1.user_id.$pristine, 'no-errors' :
         myForm1.email.$valid}">
      </label>
      <div class="padding-top text-center">
        <button class="button button-small button-positive hed_4" ng-click="getotp(data)" ng-disabled="myForm1.$invalid">Submit</button>
      </div>
      <p class="padding text-center">Go to <a href="#/login" class="register positive">Login</a></p>
    </form>
    <form ng-show="step2" name="myForm2" class=" hed_2">
      <label class="item item-input item-floating-label log_place">
        <span class="input-label text">Enter Your OTP</span>
        <input class=" txt_box  text_center" type="text" placeholder="Enter your OTP" name="otp" ng-model="data.otp"
          required="">
      </label>

      <div class="padding-top text-center">
        <button class="button button-small button-positive hed_4" ng-click="otp_verification(data)" ng-disabled="myForm2.$invalid">Verify</button>
      </div>
    </form>
    <form ng-show="step3" name="myForm" class=" hed_2">

      <label class="item item-input item-floating-label log_place">
        <span class="input-label text">Enter New Password</span>

        <input class=" margin_left margin_top" type="password" placeholder="Password" name="password" ng-model="data.new_password"
          ng-model="newpassword" ng-required="true" ng-class="{ 'has-errors' : myForm.password.$invalid && !myForm.password.$pristine, 'no-errors' : myForm.password.$valid}"
          ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
      </label>

      <span class="error-message txt_box padding-right" ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
      <span class="error-message txt_box" ng-show="!myForm.password.$error.required && myForm.password.$error.minlength && myForm.password.$dirty">Passwords
        must be between 8 and 20 characters.</span>
      <span class="error-message txt_box" ng-show="myForm.password.$error.maxlength">Password maximum 20 characters
        only</span>
      <span class="error-message txt_box" ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength&& myForm.password.$error.pattern && myForm.password.$dirty">Must
        contain one lower &amp; uppercase letter &amp; One Numeric</span>
      <label class="item item-input item-floating-label log_place">
        <span class="input-label text">Re-Enter Password</span>

        <input class=" txt_box hed_2 margin_left margin_top" type="password" placeholder="Re-Enter Password" name="password_c"
          ng-model="data.re_password" ng-minlength="6" ng-maxlength="15" ng-required="true">
        <span class="error-message" style="color:#e40404;" ng-required="true" ng-show="!myForm.password_c.$error.required && (reg_data.password != reg_data.confirm_password ) && myForm.password_c.$dirty">Password
          mismatched</span>
      </label>

      <div class="padding-top text-center">
        <button class="button button-small button-positive hed_4" ng-click="change_password(data)">Submit</button>
      </div>
    </form>
  </ion-content>
</ion-view>
