<ion-view view-title="Property payment details">
  <ion-content class=" backgrd">

    
 <div class="item" ion-datetime-picker year ng-model="datetimeValue" >

  
<h3><i class="ion-calendar"></i> {{ datetimeValue| date: "MM-yyyy"}}</h3>
</div>
    <h3 class="padding-left">June</h3>
<div class="card">
  <div class="item item-divider">
Rent History
  </div>
  <div class="item item-text-wrap">
   <table style="width:100%">
  <tr>
   
    <th>Total Amount</th>
     <th>Paid Amount</th>
    <th>Status</th> 
  </tr>
  <tr>
    <td>$12,000</td>
    <td>$12,000</td>
    <td>Paid</td>
    
  </tr>
</table>
</div>
</div>

    <div class="card">
  <div class="item item-divider">
  
Eb History
  </div>
  <div class="item item-text-wrap">
   <table style="width:100%">
  <tr>
    <th>Total Amount</th>
     <th>Paid Amount</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>$4,000</td>
    <td>$2,000</td>
    <td>Dues</td>
  </tr>
</table>
</div>
</div>

    <div class="card">
  <div class="item item-divider">
  
  Tax History
  </div>
  <div class="item item-text-wrap">
   <table style="width:100%">
  <tr>
    <th>Total Amount</th>
     <th>Paid Amount</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>$12,000</td>
    <td>$12,000</td>
    <td>Late paid</td>
  </tr>
</table>
</div>
</div>

    <div class="card">
  <div class="item item-divider">
  
  Issue History
  </div>
  <div class="item item-text-wrap">
   <table style="width:100%">
  <tr>
    <th>Total Amount</th>
     <th>Paid Amount</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>$2,000</td>
    <td>$2,000</td>
    <td>paid</td>
  </tr>
</table>
</div>
</div>


</ion-content>
</ion-view>
