<ion-view title="Issue Details" >
 <ion-content class="backgrd">
  <div class="list cont_2 tech_1">
    <div class="card">
      <div class="row">
        <div class="col col-33 col-center">

          Tenant name
        </div>

        <div class="col col-67">
          <input type="text"  ng-model="name"  ng-disabled="true"  >
        </div>
      </div>
      <div class="row">
        <div class="col col-33  col-center">
        Property Name </div>
        <div class="col col-67">
         <input type="text"  ng-model="Property"  ng-disabled="true" >
       </div>
     </div>
     <div class="row">
      <div class="col col-33 col-center ">
      Property Code</div>
      <div class="col col-67">
        <input type="text"  ng-model="code"  ng-disabled="true">
      </div>
    </div>
    <div class="row">
      <div class="col col-33 col-center ">
      Contact No </div>
      <div class="col col-67">
        <input type="text"   ng-model="contact"  ng-disabled="true">
      </div>
    </div>
    <div class="row">
      <div class="col col-33 col-center ">
      Issue Name </div>
      <div class="col col-67">
        <input type="text"  ng-model="issuename"   ng-disabled="true" >
      </div>
    </div>
    <div class="row">
      <div class="col col-33 col-center ">
      Issue detail </div>
      <div class="col col-67">
        <textarea  ng-model="issuedetails" cols="23"   ng-disabled="true"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col col-33 col-center ">
      Address </div>
      <div class="col col-67">
        <textarea ng-model="address" cols="23" row="5" ng-disabled="true"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col col-33  col-center">
      Available Date</div>
      <div class="col col-67">
       <input type="text"  ng-model="date"  ng-disabled="true" >
     </div>
   </div>
   <div class="row">
    <div class="col col-33 col-center ">
    Available Time </div>
    <div class="col col-67">
      <input type="text"  ng-model="time"  ng-disabled="true" >
    </div>
  </div>
  <div class="row">
    <div class="col col-33  col-center ">
    Optional Date</div>
    <div class="col col-67">
      <input type="text" ng-model="date" ng-disabled="true" >
    </div>
  </div>
  <div class="row">
    <div class="col col-33 col-center ">
    Optional Time</div>
    <div class="col col-67">
      <input type="text"   ng-model="time" ng-disabled="true" >
    </div>
  </div>
 <a class="item item-list-detail">
        <ion-scroll direction="x">
<img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index,allImages)" class="image-list-thumb" />
        </ion-scroll>
      </a> 
      <div class="text-center padding">
<!--     <iframe  src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
</iframe> -->
<video width="320" height="240" controls  autoplay>
  <source src="img/sample.mp4">
  Your browser does not support the video tag.
</video>
</div>
  <div class="text-center">
    <a class="button  button-positive button-small hed_4"  href="#/app/tech_detail">
     Assign
   </a>
 </div>
</ion-content>
</ion-view>

