<ion-popover-view class="btnspop " side="right">
  <ion-content>
    <div ng-if="user.admin_role_id == 5 || user.admin_role_id == 6">
      <button class="createbtns ion-plus-round" title="create issue" ng-click="gobuttons(1)"></button>
      <button class="createbtns2  ion-compose" title="new issue" ng-click="gobuttons(2)"></button>
    </div>
   
    <button ng-if="user.admin_role_id == 7" class="createbtns4 ion-plus-round" title="create issue" ng-click="gobuttons()"></button>
  </ion-content>
</ion-popover-view>