<ion-view view-title="Manage Leave">

  <ion-content class=" backgrd" >
   <ion-refresher on-refresh="leavelistforall()" > </ion-refresher>


   <div class="card padding  tech_1 con_3" ng-repeat="emp_leave in lev_listed" ng-hide="emptyimg">

    <h4 class="name text-center" style="font-size: 19px;">{{emp_leave.name}}</h4>

    <div class="row">
      <div class="col col-33 col-center name_3">Employee ID</div>
      <div class="col col-10">
      :</div><span class="col"> {{emp_leave.user_id}}</span>
    </div>

    <div class="row">
      <div class="col col-33 col-center name_3">Mobile Number</div>
      <div class="col col-10">
      :</div> <span class="col">
        <a href="tel:{{emp_leave.mobilenumber}}" class="">{{emp_leave.mobilenumber}}</a>
      </span>
    </div>

    <div class="row">
      <div class="col col-33 col-center name_3 ">
      Applied Date </div>
      <div class="col col-10">
      :</div> <span class="col">{{emp_leave.applied_date}}</span>
    </div>

    <div class="row">
      <div class="col col-33 col-center name_3 ">From
      </div>
      <div class="col col-10">
      : </div><span class="col">{{emp_leave.startdate}}</span>
    </div>

    <div class="row">
      <div class="col col-33 col-center name_3">To </div>
      <div class="col col-10">
      :</div> <span class="col">{{emp_leave.enddate}}</span>
    </div>

    <div class="row">
      <div class="col col-33 col-center name_3 ">	No.Of.Days</div>
      <div class="col col-10">
      :</div> <span class=" col">{{emp_leave.number_of_days}}</span>

    </div>
    <div class="row">
      <div class="col col-33  name_3 ">Description </div>
      <div class="col col-10">
      :</div> <span class="col brk_1">{{emp_leave.description}}</span>
    </div>

    <div class=" text-center" ng-if="user.admin_role_id == 5 || user.admin_role_id == 8">
     <a class="button  button-positive button-small hed_4" href="" ng-click="leave_status(emp_leave.id,1,comment)">Approve</a>
     <a class="button  button-positive button-small hed_4" ng-click="showPopup(emp_leave.id,2)">Decline</a>
     <input type="text" ng-model="reject_comment" ng-show="comment">

   </div>
   <div class=" text-center" ng-if="user.admin_role_id == 1 || user.admin_role_id == 2">
     <a class="button  button-positive button-small hed_4" href="" ng-click="leave_status(emp_leave.id,1,comment)">Approve</a>
     <a class="button  button-positive button-small hed_4" ng-click="showPopup(emp_leave.id,2)">Decline</a>
   </div>
   <input type="text" ng-model="reject_comment" ng-show="comment">
 </div>

        </ion-content>
    <ion-content  ng-show="emptyimg" class="scr_1">
  <img src="img/Capture.jpg" alt="No Data Found" class="nodata_1 ">
  </ion-content>
      </ion-view>
