 <ion-view hide-nav-bar="true">
 <ion-pane>
  <ion-content class="backgrd padding-top tag_2">
   <div class="row row-center" >
        <div class="col text-center" >
          <img class="cover-image padding" src="img/logo.png" >
        </div>
      </div>
        <form  class="list hed_2   row-center" name="myform">
       	<div class="col-xs-10  text-center">
     <label class="item item-input item-floating-label log_place">
    <span class="input-label text">User ID</span>
    <input type="text" class="" ng-model="login_data.user_id" placeholder="User ID">
  </label>
    <label class="item item-input item-floating-label log_place">
    <span class="input-label text" >Password</span>
    <input type="Password" class="" ng-model="login_data.password" placeholder="Password">
  </label>
</div>
  <div class="padding-top text-center">
    <button class="button  button-positive button-small hed_4" ng-disabled="!login_data.user_id || !login_data.password" type="submit" ng-click="login(login_data)">Log in</button>
   </div>
 </form>
    <div class="padding-top text-center">
  <a class="pass_1 " href="#/app/forgot_password">Forgot Password?</a>
 </div>
</ion-content>
</ion-pane>
</ion-view>
