<ion-view hide-nav-bar="true">
  <ion-content class="padding  backgrd tag_3">
    <div class="row row-center" >
      <div class="col text-center">
        <img class="cover-image padding" src="img/logo.png">
      </div>
    </div>
    <div class="text-center">
      <h1>{{ today | date : "h:mm a" }}</h1><h5>{{today | date : "MMM d,y " }}</h5>
      <h3 class="tag_2 custom_font">A complete solution for property management </h3>
    </div>
    <div class="padding-top text-center">
     <a class="button  button-positive button-small hed_4" href="#/first_page">New User</a>
     <a class="button  button-positive button-small hed_4" href="#/login">Existing User</a>
   </div>
 </ion-content>
</ion-view>