<ion-side-menus enable-menu-with-back-views="false">
<ion-side-menu-content>
<ion-nav-bar class="bar-balanced">
<ion-nav-back-button>
</ion-nav-back-button>

<ion-nav-buttons side="left">
<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
</button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
<a class="" href="#/app/notifi_details">

<button class = "button  button-icon  ion-ios-bell"> <span class="badge badge-assertive menu_noti" ng-if="notifications_count">{{notifications_count}}</span> </button>
</a>

</ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view name="menuContent"></ion-nav-view>
</ion-side-menu-content>

<ion-side-menu side="left" class="side-menu-item backgrd2 ">
<ion-content overflow-scroll="false">
<ion-list>
<div class="text-center side-logo">
<a href="#/app/home_page" menu-close><img src="img/logo.png" class="cover-image"></a>
</div>
</ion-list>
</ion-content>
<ion-content overflow-scroll="true" style="top: 20vh;">
<ion-list>

<ion-item class="menu_colr_3 border_1"  menu-close ng-if="user.admin_role_id == 5||user.admin_role_id == 7 || user.admin_role_id == 4 || user.admin_role_id == 9 || user.admin_role_id == 8 || user.admin_role_id == 6 || user.admin_role_id == 2  || user.admin_role_id == 1"  href="#/app/home_page">
<i class ="ion-home larger padding"></i>
Home
</ion-item>

<ion-item class="menu_colr_3 border_1" ng-if="user.admin_role_id == 5|| user.admin_role_id == 6|| user.admin_role_id == 9|| user.admin_role_id == 8" menu-close href="#/app/leave_request">
<i class="ion-chatbox-working larger padding"></i>
Leave Request
</ion-item>
<ion-item class="menu_colr_3 border_1"  menu-close   ng-if=" user.admin_role_id == 1 || user.admin_role_id == 2 || user.admin_role_id == 5"
href="#/app/leave_approve">
<i class="ion-folder larger padding"></i>
Manage Leave
</ion-item>

<ion-item class="menu_colr_3 border_1"  menu-close   ng-if=" user.admin_role_id == 5|| user.admin_role_id == 2|| user.admin_role_id == 1"  href="#/app/attendance">
<i class="ion-android-folder larger padding"></i>
Attendance Log
</ion-item>
<ion-item class="menu_colr_3 border_1"  menu-close ng-if="user.admin_role_id == 1||user.admin_role_id == 7|| user.admin_role_id == 4|| user.admin_role_id == 8 || user.admin_role_id == 9|| user.admin_role_id == 5||user.admin_role_id == 2|| user.admin_role_id == 1 || user.admin_role_id == 6" href="#/app/profile">
<i class="ion-person larger padding"></i>
Profile
</ion-item>
<ion-item class="menu_colr_3 border_1"  menu-close ng-if="user.admin_role_id == 4 || user.admin_role_id == 7 " href="#/app/exist_detail">
<i class=" ion-compose  larger  padding"></i>
Enquiry
</ion-item>

<ion-item class="menu_colr_3 border_1"  menu-close ng-click="logout()">
<i class="ion-power larger padding"></i>
Logout
</ion-item>


</ion-list>
</ion-content>
</ion-side-menu>
</ion-side-menus>
