<ion-view view-title="Notification">
  <ion-content class="backgrd">
<ion-list>
<div class=" card  notif_1 " ng-repeat="notification in notifications">
<!-- <p class="text-right time_1 ">{{notification.time}}</p> -->
<span  ng-if="notification.app_status == null"  >
    <p ng-if="notification.content.title" class="notiy_1" >{{notification.content.title}} : </p>
    <div hm-read-more style="padding-left: 10px;" hm-text="{{ notification.message }}"
       hm-limit="35" hm-more-text="(Readmore)" hm-less-text="(Readless)" hm-dots-class="dots" hm-link-class="links"
       ng-click="fun(notification.id)" class="red1">
   </div >
    <p style="color:blue;float: right;">{{notification.time }} </p>
   </span>



<div class="card_1  notif_2">
    <span  ng-if="notification.app_status == 'read'">
        <p ng-if="notification.content.title" class="notiy_1" >{{notification.content.title}} : </p>
        <div hm-read-more style="padding-left: 10px;" hm-text="{{ notification.message }}"
           hm-limit="35" hm-more-text="(Readmore)" hm-less-text="(Readless)" hm-dots-class="dots" hm-link-class="links"
           ng-click="fun(notification.id)" class="red1">
       </div >
        <p style="color:blue;float: right;">{{notification.time }} </p>
       </span>
 </div>
</div>

</ion-list>
</ion-content>
<ion-content  ng-if="notifications.length == 0" class="scr_1">
    <img src="img/Capture.jpg" alt="No Data Found" class="nodata_1 ">
    </ion-content>
</ion-view>
