<ion-view view-title="Rent " >
  <ion-content class="padding backgrd">
    <div class="card">
      <div class="item item-divider row">
        <div class="col col-80">
          Due Date
        </div>
        <div class="col col-20">
          Amount
        </div>
      </div>
      <div class="item item-text-wrap row">
        <div class="col col-80">
          13-04-18
        </div>
        <div class="col col-20">
          $6000
        </div>
      </div>
      <div class="item item-text-wrap">
        <p>Payment Due: Last month balance Rs.1500.</p>
      </div>
    </div>


<!-- 
<div class="text-center">

  <button class="button button-positive button-small hed_4 icon ion-camera butn" ng-click="captureVideo()"></button>
</div> -->
  </ion-content>
</ion-view>
