<ion-popover-view>
 <ion-header-bar>
  <h1 class = "title">Popover Title</h1>
</ion-header-bar>
<ion-content >
 <div class="list card">
  <a href="#/app/notification" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Rent
  </a>
</div>
<div class="list card">
  <a class="item item-icon-left">
    <i class="icon ion-home"></i>
    Lease
  </a>
</div>
</ion-content>
</ion-popover-view>