<ion-modal-view>

      <div class="bar bar-header item-input-inset  bar-balanced">
          <button ng-click="closeModal()" class="button back-button buttons button-clear header-item">
              <i class="icon ion-ios-arrow-back"></i>
              <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"></span></button>
           <label class="item-input-wrapper"  style="margin-top:0!important" >

          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="search">
        </label>

      </div>

<ion-content class=" backgrd has-header">


     <div class="card"  ng-repeat="data in property_name_list | filter :search">
  <div class="item item-text-wrap brk_1" ng-click="property_detail_single(data)">
{{data.customer_name}}|{{data.property_address}} | <span style="color:blue;">{{data.city_name}}</span>
  </div>
</div>



</ion-content>
</ion-modal-view>
