<ion-view view-title="History ">
  <ion-content class="backgrd">
    <ion-list>
     <ul class="list cont_1">
      
      <li class="item text-center backgrd">
        <a href="#/app/rent-history">
        Rent</a>
      </li>
      <li class="item text-center backgrd" >
       Tax
     </li>
     <li class="item  text-center backgrd">
       Eb
     </li>
     <li class="item  text-center backgrd">
       Transaction
     </li>
     <li class="item  text-center backgrd">
      Bills
    </li>
  </ul>
</ion-list>
</ion-content>
</ion-view>

