 <ion-view view-title="Transaction History" cache='false'>

<span ng-if="user.admin_role_id == 7" ng-init='pay_tenant(1)'></span>
<span ng-if="user.admin_role_id == 4"></span>
<ion-content class=" backgrd" >
    <ion-refresher ng-if="user.admin_role_id == 7" on-refresh="pay_tenant(1)"></ion-refresher>
    <!-- <ion-refresher ng-if="user.admin_role_id == 4" on-refresh="pay(data)"></ion-refresher> -->

 
       <div class="card list">
      <label class="item item-input item-select label_1 "  ng-class="err.property_id" ng-if="user.admin_role_id == 4 ">
      <div class="input-label name">
      Property
      </div>
      <select ng-model="data.property_id" ng-change="pay(data)" ng-options="item.id as item.customer_name + ' | ' + item.property_address + ' | ' + item.city_name   for item in property_list"
      ng-disabled="edit_pro" style="width: 61%;">
      <option selected value="" disabled>Select Option</option>
    </select>

     </label>
      <div class="item item-input" ng-if="user.admin_role_id == 4" >
              <span class="input-label  col-50 name">Select Month & Year </span> 
              
          <div name="min" class="item item-icon-left bk" ion-datetime-picker ng-model="data.date" ng-class="err.date" ng-change="pay(data)"><i class="icon ion-calendar " style="color:brown;font-size: 18px"></i>
       <strong>{{ data.date| date: "MM-yyyy" }} </strong> 
            </div>
           </div>
           <div class="item item-input" ng-if="user.admin_role_id == 7 " >
              <span class="input-label  col-50 name">Select Month & Year</span>
              
          <div name="min" class="item item-icon-left bk" ion-datetime-picker ng-model="date" ng-class="err.date" ng-change="pay_tenant(1,date)"><i class="icon ion-calendar " style="color: brown;font-size: 18px"></i>
       <strong>{{ date| date: "MM-yyyy" }} </strong> 
            </div>
   
           </div>
          </div>
              <img src="img/Capture.jpg" alt="No Data Found"  style="width:100%" ng-show="emptyimg" class="empty_img">

           <div class="list" ng-hide="emptyimg">

</div>
    <div class="card " ng-hide="emptyimg">
<div class=" item-text-wrap item_leave" ng-repeat="(key, value) in payment_type | groupBy: 'collections_date'">
   <div class="item item-divider divider_2">
        {{key}}
  </div>

  <table style="width:100%">
  <tr>
   
     <th class="name">Category</th>
    <th ng-if="user.admin_role_id == 7" class="name">Date</th> 
    <th ng-if="user.admin_role_id == 7" class="name">Amount</th>
     <!-- <th ng-if="user.admin_role_id == 7" class="name">Dues</th> -->
     <th ng-if="user.admin_role_id == 4" class="name">Date</th>
      <th ng-if="user.admin_role_id == 4" class="name">Amount</th>
      <!-- <th ng-if="user.admin_role_id == 4" class="name">Dues</th> -->

  </tr>
  <tr ng-repeat="pay in value">
        <td>{{pay.category}}</td>
       <td>{{pay.collection_date}}</td>
       <td ng-if="user.admin_role_id == 7">{{pay.total_amount}}<span >({{pay.paid_by}})</span></td>
     <!-- <td ng-if="user.admin_role_id == 7">2000</td> -->
    <!-- <td ng-if="user.admin_role_id == 4">{{pay.collection_date}}</td> -->
    <td ng-if="user.admin_role_id == 4">{{pay.total_amount}}<span >({{pay.paid_by}})</span></td>
    <!-- <td ng-if="user.admin_role_id == 4">2000</td> -->

  </tr>
</table>
 &nbsp
</div>
<div ng-if="user.admin_role_id == 4" class="alrt assertive"><span ng-hide="detail">Please select date and property</span></div>
</div>

</ion-content>
</ion-view>
