<ion-modal-view  class="backgrd">
  <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Service</h1>
    <button class="button button-clear button-primary icon ion-close-circled" ng-click="serviceClose()"></button>
  </ion-header-bar>
  <ion-content class="padding">
   <div class="img_overlay" >
     <img class="full-image" src="{{image}}" />
     <div class="overlay">
      <p>{{title}}</p>
    </div>
  </div>
 
  <div class="item item-thumbnail-left img_overlay"
  ng-repeat="item in slide">
  <div class="overlay">
  <img src="{{item.image}}"/>

  <h2>{{item.heading}}</h2>
</div>

</div>
</ion-content>
</ion-modal-view>