<ion-view title="Issue Details">
 
  <ion-content class="backgrd">
    <div class=" list card">
     <div class="row cont_2">
      <div class="col col-33  col-center">
      Property Name </div>
      <div class="col col-67">
        <input type="text"  ng-model="Property"  ng-disabled="true" >
      </div>
    </div>
    <div class="row cont_2">
      <div class="col col-33 col-center ">

      Property Code</div>
      <div class="col col-67">

        <input type="text"  ng-model  ="code"  ng-disabled="true">
      </div>
    </div>
    <div class="row cont_2">
      <div class="col col-33 col-center ">

      Technician Name </div>
      <div class="col col-67">
        <input type="text"   ng-model="techname"  ng-disabled="true">
      </div>
    </div>
    <div class="row cont_2">
      <div class="col col-33 col-center ">

      Contact No </div>
      <div class="col col-67">
        <input type="text"   ng-model="contact"  ng-disabled="true">
      </div>
    </div>
    <div class="row cont_2">
      <div class="col col-33 col-center ">

      Issue Name </div>
      <div class="col col-67">
        <input type="text"  ng-model="issuename"  ng-disabled="true" >
      </div>
    </div>
    <div class="row cont_2">
      <div class="col col-33 col-center ">
      Issue Details </div>
      <div class="col col-67">
       <textarea  rows="5"  ng-model="issuedetails"   cols="23" ng-disabled="true"></textarea>
     </div>
   </div>
    <div class="row cont_2">
      <div class="col col-33 col-center ">
      Issue Cost </div>
      <div class="col col-67">
     <input type="text"  ng-model="cost"  ng-disabled="true" >
     </div>
   </div>
   <a class="item item-list-detail">
        <ion-scroll direction="x">
<img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index,allImages)" class="image-list-thumb" />
        </ion-scroll>
      </a> 

      <div class="text-center padding">
    <iframe  src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
</iframe>
</div>
 </div>
</ion-content>
</ion-view>













