<ion-view title="Technicians Lists">
	<ion-content class="backgrd">
		<div class="bar item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="Search">
			</label>
		</div>
		<div class=" card padding">
			<div class="row">
				<div class="col col-50 name_1">
					<p>Requested Date :
					</p>
				</div>
				<div class="col col-50 ">
				12/09/2018</div>
			</div>
			<div class="row">
				<div class="col col-50 name_1">
					<p>Requested Times :
					</p>
				</div>
				<div class="col col-50 ">
					10:00 AM 12:00 AM
				</div>
			</div>
			<div class="row">
				<div class="col col-offset-50 col-50">
					04:00 AM to 09:00 PM
				</div>
			</div>
			<div class="card ">
				<div class="item item-divider text-center">
					<h3> Tech Lists</h3>
				</div>
				
				<div class="row padding-top">
					<div class="col col-20">
						<p> 1 .Arun</p>
						
					</div>
					<div class="col col-30 ">
						<p> set Time</p>
					</div>
					<div class="item clock_1" ion-datetime-picker time am-pm ng-model="timeValue_1">
						<i class="icon ion-ios-clock-outline positive"></i>
						{{timeValue_1| date: "h:mm a"}}
					</div>

					<div class="col col-20 text-right ">
						<label class = "checkbox">
							<input type = "checkbox">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col col-20">
						<p> 2.Giri</p>	
					</div>
					<div class="col col-30 ">
						<p> Set Time</p>
					</div>
					<div class="item clock_1" ion-datetime-picker time am-pm ng-model="timeValue_2">
						<i class="icon ion-ios-clock-outline positive"></i>


						{{timeValue_2| date: "h:mm a"}}
					</div>
					<div class="col col-20 text-right ">
						<label class = "checkbox">
							<input type = "checkbox">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col col-20">
						<p>3.Karthik</p>	
					</div>


					<div class="col col-30 ">
						<p>Time</p>
					</div>

					<div class="item clock_1" ion-datetime-picker time am-pm ng-model="timeValue_3">
						<i class="icon ion-ios-clock-outline positive"></i>


						{{timeValue_3| date: "h:mm a"}}
					</div>
					<div class="col col-20 text-right ">
						<label class = "checkbox">
							<input type = "checkbox">
						</label>
					</div>
				</div>
			</div>
			<div class=" text-center padding">

				<button class="button button-positive button-small hed_4">
					Assign
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>








