
<div class="modal image-modal transparent" on-swipe-down="closeModal()" on-swipe-up="closeModal()">
      <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
<ion-slide ng-repeat="image in images">
          <ion-scroll zooming="true" ng-cloak class="content zoom-pane" min-zoom="1" direction="xy" delegate-handle="zoom-pane" scrollbar-x="false" scrollbar-y="false"   overflow-scroll="false"   style="width: 100%; height: 100%" >
<div class="image" ng-if="image.image_path" style="background-image: url({{img_url}}{{image.image_path}}/{{image.image_name}})"></div>
<div class="image" ng-if="!image.image_path" style="background-image: url({{image | convertFileSrc}})"></div>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </div>
