<ion-view view-title="completed job">
  <ion-content class="backgrd ">
      <div class="bar  item-input-inset ">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="search">
      </label>
    </div>
 <div class="card card_detail padding">
 	<div class="row">
 	<p class="col col-33 name">
 		Property Name 
 	</p>
 	<p class="col col-10 ">:</p>
   <div class="col" > anbu</div>
    </div>
	<div class="row">
 	<p class="col col-33 name">
 		Categories
 	</p>
 	<p class="col col-10 ">:</p>
<div class="col" >Electrical</div>
</div>
	<div class="row">
 	<p class="col col-33 name">
 		Work Duration
 	</p>
 	<p class="col col-10 ">:</p>
<div class="col" > 2 hrs</div>
</div>


	<div class="row">
 	<p class="col col-33 name">
 		Date&Time
 	</p>
 	<p class="col col-10 ">:</p>
<div class="col" >12/11/18  11:00</div>
</div>

 </div>


</ion-content>
</ion-view>