<ion-view view-title="My Job">
    <div class="bar  bar-subheader bar-balanced item-input-inset " ng-hide="emptyimg">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="search">
      </label>
    </div>
  <ion-content class="backgrd has-subheader">
  <div class="card list card_detail padding" ng-repeat="detail in work | filter:search">
     <a class="item"  href="#/app/tech_person/{{detail.issue_id}}">
      <h2><b>{{detail.issue_token}} </b>
         <span ng-if="detail.work_type == 'issue'"><b>- Issue Work</b></span><span ng-if="detail.work_type == 'quote'"><b>- Quotation Work</b></span><br>
       </h2>
     <p class="name_4">Category : {{detail.category_name}}</p>
     <!-- <p class="name_4">Requested Time :<span >{{detail.avaliable_time}}</span></p> -->
      <!-- <p class="name_2">{{detail.property_name}}</p> -->
      <p class="brk_1 name_2 ">{{detail.property_address}}<br>
        {{detail.city_name}}</p>
     </a>

  </div>
</ion-content>
<ion-content  ng-show="emptyimg" class="scr_1">
  <img src="img/Capture.jpg" alt="No Data Found" class="nodata_1">
  </ion-content>
</ion-view>
