 <ion-modal-view class="backgrd">

   <ion-header-bar class="bar bar-header bar-balanced">
  
    <h1 class="title">Direct Pay</h1>
    <button class="button button-clear button-primary" ng-click="pay.hide()">Cancel</button>
  </ion-header-bar>

  <ion-content class="padding">
   
    
    <div class="list">
      <label class=" item item-input item-select " >
        <div class="input-label col-40">
         Type of Pay
       </div>
       <div class="col-40">
        <select ng-model="amt.category" ng-options="item for item in category" ng-class="err.category">
         <option disabled selected value="">Select Option</option>
       </select>
     </div>
     <span ng-bind="err_word.category"></span>
   </label>


   <div class="item item-input">
    <div class="row">
      <span class="input-label col-50">Date</span>
      <div name="min" class="item item-icon-left bk" ion-datetime-picker date ng-model="amt.date" ng-class="err.date" ><i class="icon ion-ios-calendar positive"></i>

       <strong>{{ amt.date| date: "dd-MM-yyyy" }} </strong>
       <!-- <span ng-bind="err_word.date"></span> -->
     </div>
   </div>
                </div>
               <label class="item item-input">
                <span class="input-label col-50">Amount</span>
                <input ng-model="amt.amount" type="text" ng-class="err.amount">
              </label>
              <!-- <span ng-bind="err_word.amount"></span> -->
              <label class="item item-input">
                <span class="input-label">Description</span>
                <input ng-model="amt.description" type="text">
              </label>

               <label class="item item-input">
                <span class="input-label col-60">Upload Image</span>
             <button  accept="image/*"  ng-model="files" ngf-multiple="true"  required class="button button-positive button-small hedd_4 icon ion-camera butn" ng-click="showActionsheet()" ng-model="photos" ng-class="err.photos"></button><span ng-if="err_word.photos"></span>
              </label>
          
              <!--   <img class="full-image padding-top" src="img/max.png"> --> 
              <div class="text-center">
                <div class="text-center">

                  <i class="icon ion-ios-close close" style="color:rgba(255, 255, 255, 0.93);font-size: 26px;" ng-if="image_a.length > 0" ng-click="delete_image()"></i>
                  <img ng-src="{{image_a}}" class="full-image" ng-if="image_a.length > 0" ng-model="image_a" style="height:50px;width: 50px">
                  <!-- <button class="button button-full icon-left ion-camera" type="button" ng-show="!model_image" ng-click="loadImage()">Take Photo</button> -->
                </div>
                <div class="text-center">
                 <button class="button button-positive button-small hed_4 " ng-click="payment_detail(amt,'cash',image_a)">Submit</button>
                 <button class="button button-positive button-small hed_4" ng-click="reset()">Reset</button>
               </div>
             </div>

           </ion-content>
         </ion-modal-view>