<ion-view view-title="Status of issues">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
     <ion-nav-buttons side="right">
      <div class="icon ion-plus-circled " ng-click="gobuttons()" style="font-size: 30px">
 </div>
      </ion-nav-buttons>
    </ion-nav-bar>
       <div class="bar  bar-subheader bar-balanced item-input-inset " ng-hide="emptyimg">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="search">
        </label>
      </div>
  <ion-content class=" backgrd has-subheader">
      <ion-refresher on-refresh="category()"></ion-refresher>

   <div class=" card list card_detail item-text-wrap" ng-repeat="values in status | filter :search">
      <a class="item bk-clr" href="#/app/issue_list/{{values.id}}" style="color: #0d0d0d">
    <div class="row padding-top">
      <div class="col col-50  name">
       Issue ID
     </div>
     <div class="col col-10">
       :</div> <span class="col" ng-bind="values.issue_id"></span>

     </div>


 <div class="row">
  <div class="col col-50  col-center name">
  Status</div>
  <div class="col col-10">:</div>
    <div class="col" has-header="true" padding="true">
      <span ng-bind="values.status"></span>
      </div>
    </div>
  
 
  <div class="row">
    <div class="col col-50  col-center name">
    Last Update </div>
    <div class="col col-10">
     : </div><div class="col"><span ng-bind="values.tracking_date"></span><span ng-bind="values.date_format_master"></span></div>
     

   </div>


 <div class="row padding-top " ng-if="values.name">
  <div class="col col-50  name"> 
   Technician Name
 </div>
 <div class="col col-10 padding-top ">
  : </div><span class ="col" ng-bind="values.name"></span>
</div>

<div class="row" ng-if="values.mobilenumber">
  <div class="col col-50  col-center name">

   Contact No 
 </div>
 <div class="col col-10">
   : </div><span class="col" ng-bind="values.mobilenumber"></span>
 </div>

 <div class="row">
  <div class="col col-33  col-center name">
 work Status</div>
  <div class="col col-50">

   <div has-header="true" padding="true">
     <progress id="progressbar" max="100" value="{{values.progress}}"></progress>
      </div>
    </div>
    <div class=" col ">
   <div has-header="true" padding="true" class="progres_1">
         <span id="progressbarlabel">{{values.progress}} %</span>
      </div>    </div>
  </div>
  </a>
</div>
</div>
<div class=" data_1" ng-if="assign"><b>No Records Found</b></div>
</ion-content>
<ion-content  ng-show="emptyimg" class="scr_1">
  <img src="img/Capture.jpg" alt="No Data Found" class="nodata_1">
  </ion-content>
</ion-view>
