<ion-view view-title="Profile">
  <ion-content class="profile_list backgrd" scroll="false">

    <div class="card">

      <form name="myForm" novalidate >

      <div class="cont_2 tech_1 tech_2"  ng-if="!change_pass">
     <label class=" item-input ">
            <span class="input-label">Name:</span>
            <input class="input_field txt_box" type="text" placeholder="Name" name="email" ng-model="profile.name" ng-minlength="3" ng-maxlength="50" required="" ng-readonly="edit_pro"/> 
          </label>

        <label class="item item-input item-inline-label">
         <span class="input-label">Email:</span>
         <input class="input_field txt_box" type="email" placeholder="Email" name="password" ng-model="profile.email" required="" readonly="" ng-readonly="edit_pro"/> 
       </label>
       <label class="item item-input item-inline-label">
        <span class="input-label">Contact No:</span>
        <input class="input_field txt_box" type="tel" placeholder="Phone Number" name="email" ng-model="profile.mobilenumber" ng-minlength="3" ng-maxlength="50" required="" ng-readonly="edit_pro"/> 
      </label>
      <label class="item item-input item-inline-label">
        <span class="input-label">Address:</span>
        <input class="input_field txt_box" type="text" placeholder="Address 1" ng-model="profile.address" ng-readonly="edit_pro"/> 
      </label>
      <div class="list" ng-hide="change_pass">
      <div class="row">
        <div class="col col-50">
      <label class="item item-input item-inline-label" >
        <span class="input-label">Lease Agreement Date:</span>
        </label>
      </div>
   
      <div class="col col-50">
        <span ng-bind="profile.tenant_agreement_date | date:'dd-MM-yyyy'"></span>
      </div>
    </div>
 <div class="row">
        <div class="col col-33">
       
       <label class="item item-input item-inline-label">
        <span class="input-label">Agreement Renewal Date:
        </span>
      </label>
    </div>
     <div class="col col-70">
        <span ng-bind="profile.date_check"></span>
        <!-- <input class="input_field txt_box" type="text" placeholder="March 07/2018" ng-model="profile.lease_agreement_date + 365" ng-readonly="edit_pro"/>  -->
     </div>
   </div>
      
    </div>
  </div>

  </form>
    <div class="chng_pw" ng-show="!edit_pro">
     <div class="text-center padding">
       <button class="button button-positive button-small hed_4"  type="submit" ng-click="edit(profile)">Submit</button>
       <button class="button button-positive button-small hed_4"  ng-click="back()">Cancel</button>
     </div>
   </div>

   <div ng-hide="type" class="edit_profile chng_pw">
     <div class="text-center padding">
       <button class="button button-positive button-small hed_4" ng-click="edit_prof()">Edit profile</button>
       <button class="button button-positive button-small hed_4" ng-click="password()">Change password</button>
     </div>

   </div>
   <form ng-show="change_pass" name="myForm"  novalidate class="chng_pass_outer">
     <div  class="cont_2 tech_1 ">
     <div class="list">
      <div class="row">
        <div class="col col-33  col-center">
        Currenet password</div>
        <div class="col col-67">
          <input class="input_field " type="password" placeholder="Current Password" name="current_password" ng-model="data.current_password" required="" /> 
        </div>
      </div> 
      <div class="row">
        <div class="col col-33  col-center">
        New password</div>
        <div class="col col-67">
          <input class="input_field " type="password" placeholder="New Password" name="new_password" ng-model="data.new_password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required="" /> 
        </div>
      </div>
      <span class="error-message" ng-show="myForm.new_password.$error.required && myForm.new_password.$dirty && myForm.new_password.$invalid">required</span>
      <span class="error-message marg_4" ng-show="!myForm.new_password.$error.required && (myForm.new_password.$error.minlength || myForm.new_password.$error.maxlength)&& myForm.new_password.$dirty">Passwords must be between 8 and 20 characters.</span>
      <span class="error-message marg_4" ng-show="!myForm.new_password.$error.required && !myForm.new_password.$error.minlength && !myForm.new_password.$error.maxlength&& myForm.new_password.$error.pattern && myForm.new_password.$dirty">Must contain one number, one lowercase &amp; one uppercase letter</span>
      <div class="row">
       <div class="col col-33  col-center">
       Confirm password</div>
       <div class="col col-67">
        <input class="input_field " type="password" placeholder="Confirm Password" name="confirm_password" ng-model="data.confirm_password" required="" /> 
      </div>
    </div>
    <span class="error-message marg_4" ng-show="!myForm.confirm_password.$error.required && (data.confirm_password != data.new_password )&& myForm.confirm_password.$dirty">Password mismatched</span>
    <div class="chng_pw">
     <div class="text-center padding">
      <button class="button button-positive button-small hed_4" type="submit" ng-click="change_password(data)" ng-readonly="myForm.$invalid">Reset Password</button>
      <button class="button button-positive button-small hed_4"  ng-click="back()">Cancel</button>
    </div>
  </div>

</div>
</div>
</form>
</div>
 <div class="card" ng-hide="change_pass">
 <label class="item item-input item-inline-label">
        <span class="input-label">Lease Agreement Date:</span>
        <span ng-bind="profile.tenant_agreement_date | date:'dd-MM-yyyy'"></span>

         </label>
       <label class="item item-input item-inline-label">
        <span class="input-label">Agreement Renewal Date:</span>
        <span ng-bind="profile.date_check"></span>
      </label>

  </div>
</ion-content>
</ion-view>

