
<div class="modal image-modal transparent" on-swipe-down="closeModal()" on-swipe-up="closeModal()">
      <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
        <ion-slide ng-repeat="image in single_prop.image">

          <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"   style="width: 100%; height: 100%"  >
            <div class="image" style="background-image: url({{img_url}}/{{image.image_path}}/{{image.image_name}})"></div>

          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </div>
