<ion-view view-title="Properties List">
<img src="img/Capture.jpg" alt="No Data Found" style="width: 100%;" ng-show="emptyimg">
<ion-content class="padding backgrd" ng-hide="emptyimg">
<ion-refresher on-refresh="property_list()" > </ion-refresher>
<div class="card list  " ng-repeat="prop in property" style="border: 2px solid rgb(126, 162, 38);border-radius: 15px;" >
<a class="item " href="#/app/property_detail/{{prop.id}}">
<div class="row">
<div class="col col-33  name">
Address
</div>
<div class="col col-10">
:</div>
<div class="col brk_1">
{{prop.property_address}}
</div>
</div>

<div class="row">
<div class="col col-33 name">
Status
</div> 
<div class="col col-10">
:</div>
<div class="col">
<span ng-if="prop.available_status == 'available'">Non Occupied</span>
<span ng-if="prop.available_status == 'notavailable'">Occupied</span>
</div>
</div>

<div class="row">
<div class="col col-33  name">
City
</div>
<div class="col col-10">
:</div>
<div class="col ">
{{prop.city_name}}
</div>
</div>
</a>
</div>

</ion-content>
</ion-view>

