
<ion-view view-title="Customer Details">
    <div class="bar bar-subheader bar-balanced item-input-inset" ng-hide="emptyimg">
     <label class="item-input-wrapper">
       <i class="icon ion-ios-search placeholder-icon"></i>
       <input type="search" placeholder="Search" ng-model="field" ng-keyup="search_field(field)">
     </label>

   </div>
     <ion-content class=" backgrd has-subheader">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
      </ion-refresher>

   <ion-list ng-hide="emptyimg">

   <ion-item class="card" ng-repeat="customer in customer_list"><!-- ng-click="customer_details(customer.id)"> -->
     <a class="item " href="#/app/property/{{customer.users_id}}">
   <div class="row">
     <div class="col col-50 name">
      Name
     </div>
     <div class="col col-10">
     :</div>
     <div class="col brk_1">
       {{customer.customer_name}}({{customer.username}})
     </div>
   </div>
   <div class="row">
     <div class="col col-50  name ">
       Mobile Number
     </div>
     <div class="col col-10">
     :</div>
     <div class="col">
       {{customer.customer_mobile_number}}
     </div>
   </div>
   <div class="row">
     <div class="col col-50  name">
       Email ID
     </div>
     <div class="col col-10">
     :</div>
     <div class="col brk_1">
       {{customer.email}}
     </div>
   </div>
   <div class="row">
     <div class="col col-50 name">
     Address  </div>
    <div class="col col-10">
     :</div>
     <div class="col brk_1">
   {{ customer.customer_address}}
     </div>
   </div>
   <div class="row">
     <div class="col col-50 name">
     Status  </div>
    <div class="col col-10">
     :</div>
     <div class="col">
   {{customer.status}}
     </div>
   </div>


   </a>
     </ion-item>
   </ion-list>

    <ion-infinite-scroll ng-if="stop_loadmore" on-infinite="domore()" distance="10%"></ion-infinite-scroll>
    <!-- <div  ng-if="!stop_loadmore">
        <div class="text-center">
            <span>No Content Found</span></div> -->

          </div>
     </ion-content>
    <ion-content  ng-if="customer_list.length == 0" class="scr_1">
  <img src="img/Capture.jpg" alt="No Data Found" class="nodata_1 ">
  </ion-content>
   </ion-view>
