    <ion-modal-view>
      <ion-header-bar class="bar bar-balanced ">
        <h1 class="title">Inspection Report </h1>
        <button class="button button-clear button-primary" ng-click="closeModal2()">Cancel</button>
      </ion-header-bar>
      <ion-content class=" backgrd padding">
        <div class="list card">

         <table style="width:100%">
          <tr>

            <th class="name">Item</th>
            <th >Status</th>


          </tr>
          <tr ng-repeat="item in item_list">
            <td>{{item.name}}</td>
            <td><span ng-if="item.ins_condition == 'good'">{{item.ins_condition}}</span>
              <span  class="tech_1 con_2"  ng-if="item.ins_condition == 'damage'">{{item.ins_condition}}
                 <div class="item-text-wrap" ng-disabled="item.ins_damage"  style="border:1px solid #ccc5cb">
                   {{item.ins_damage}}
                 </div>
              </span>
            </td>
          </tr>


        </table>
        <div class="row  tech_1 ">
         <div class="col col-33 name">
         Description</div>
         <div class="col col-67">
           <div class="item-text-wrap" ng-disabled="inspection.description"  style="border:1px solid #ccc5cb">
             {{inspection.description}}
           </div>

         </div>
       </div>

       <a class="item item-list-detail" ng-if="image_detail">
        <ion-scroll direction="x">
<img ng-repeat="item in image_detail" ng-src="{{img_url}}{{item.image_path}}/{{item.image_name}}" class="image-list-thumb"
ng-click="showImages($index,image_detail)" />
        </ion-scroll>
      </a>

      <div class="text-center padding" ng-if="vid">
        <video  class="padding" width="100%" autoplay playsinline webkit-playsinline controls>
              <source ng-src="{{vid_fn |trustUrl}}" >
              </video>
</div>
     </div>
   </ion-content>
 </ion-modal-view>
