<ion-view view-title="Inspection List">

	 <div class="bar bar-subheader bar-balanced item-input-inset" ng-hide="emptyimg">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-model="field" ng-keyup="search_field(field)">
    <!-- <input type="search" placeholder="Search" ng-model="search"> -->
  </label>
   </div>
  <ion-content class="backgrd has-subheader">
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()" ng-show="!emptyimg">
        </ion-refresher>
  <img src="img/Capture.jpg" alt="No Data Found" class="nodata_1 scr_1" ng-show="emptyimg">

 <div class="card  cont_2 con_3 card_detail" ng-hide="emptyimg" ng-repeat="item in list |filter :search">

<div class="row " >
  <div class="col col-50  name">
    Customer Name
  </div>
 <div class="col col-10">:</div>
 <div class="col brk_1">{{item.customer_name}}({{item.customers_id}})</div>
  </div>

<div class="row">
 <div class="col col-50 name">
    Property Address
  </div>
   <div class="col col-10 ">
:</div>
 <div class="col brk_1">{{item.property_address}}</div>
</div>
<div class="row">
 <div class="col col-50 name">
Inspection Date
  </div>
   <div class="col col-10 ">
:</div>
 <div class="col brk_1">{{item.inspection_date}}</div>
</div>
<div class="row">
 <div class="col col-50 name">
Inspected By
  </div>
   <div class="col col-10 ">
:</div>
 <div class="col brk_1"> {{item.inspection_by_name}}({{item.user_id}})</div>
</div>
<div class="row">
 <div class="col col-50 name">
Inspection Report
  </div>
   <div class="col col-10 ">
:</div>
 <div class="col ">  <i class="ion-eye link_2" ng-click="showModal(item.id)"></i></div>

</div>
</div>
<ion-infinite-scroll ng-if="stop_loadmore" on-infinite="domore()" distance="10%"></ion-infinite-scroll>
<div ng-show="show_empty">
    <div class="text-center">
        <span>No Records Found</span></div>
       
      </div>
</ion-content>
</ion-view>
