<ion-view title="Issue details">
  <ion-content class="backgrd">

    <div class="list cont_2 ">
      <div class="card con_2 con_3 ">

   <div class="name text-center con_2">
     <!--  Issue Details -->
</div>


  <div class="row row-center" ng-if="issue_list.property_name" >
    <div class="col col-33  name">
    Property Name
  </div>
    <div class="col col-10 ">
      :</div> <span class="col">{{issue_list.property_name}}</span>

    </div>

   <div class="row" ng-if="issue_list.category_name">
    <div class="col col-33  name">
    Category
  </div>
    <div class="col col-10">
       :</div> <span class="col"> {{issue_list.category_name}}</span>

    </div>





  <div class="row">
    <div class="col col-33  name">
     Status
  </div>
    <div class="col col-10">
      :</div>
       <span class="col brk_1">{{issue_list.issue_status}}</span>

    </div>

  <div class="row" ng-if="issue_list.issue_amount">
    <div class="col col-33  name">
    Issue Amount
  </div>
    <div class="col col-10">
      :</div> <span class="col">{{issue_list.issue_amount}}</span>

    </div>

  <div class="row" ng-if="issue_list.tenant_amount">
    <div class="col col-33  name">
    Tenant Amount
  </div>
    <div class="col col-10">
     :</div> <span class="col">{{issue_list.tenant_amount}}</span>

    </div>

  <div class="row" ng-if="issue_list.customer_amount">
    <div class="col col-33  name">
    Customer Amount
  </div>
    <div class="col col-10">
       :</div> <span class="col"> {{issue_list.customer_amount}}</span>

    </div>

  <div class="row">
    <div class="col col-33  name">
    Property Status
  </div>
    <div class="col col-10">
       : </div><span class="col" ng-if="issue_list.available_status == 'notavailable'"> Occupied</span>
         <span class="col" ng-if="issue_list.available_status == 'available'"> Occupied</span>

    </div>


  <div class="row">
    <div class="col col-33  name">
    Description
  </div>
    <div class="col col-10 ">
     :</div> <span class="col brk_1 "> {{issue_list.description}}</span>

    </div>


    <div class="row" ng-if="issue_list.tenant_name">
      <div class="col col-33  name">
      Tenant name
    </div>
      <div class="col col-10 ">
       :</div> <span class="col brk_1 "> {{issue_list.tenant_name}}</span>

      </div>
      <div class="row" ng-if="issue_list.property_address">
        <div class="col col-33  name">
        Address
      </div>
        <div class="col col-10 ">
         :</div> <span class="col brk_1 "> {{issue_list.property_address}}</span>

        </div>
        <div class="row" ng-if="issue_list.issue_contact_number">
          <div class="col col-33  name">
          Contact No
        </div>
          <div class="col col-10 ">
           :</div> <span class="col brk_1 ">
              <a  href="tel:{{issue_list.issue_contact_number}}">{{issue_list.issue_contact_number}}</a> </span>

          </div>

  <div class="row">
    <div class="col col-33 name">
Last Update
  </div>
    <div class="col col-10">
      :</div> <span class="col brk_1"> {{issue_list.updated_at}}</span>

    </div>

</div>
</div>


</ion-content>
</ion-view>
