<ion-view view-title="Tenant List">
<div class="bar  bar-subheader bar-balanced item-input-inset ">

<ion-segment ng-model="categories" full="true"  style="background-color: #33cd5f;border-color: #ab8e8c;">
    <ion-segment-button value="vacant" ng-click="cardss(1)">
        Vacant : {{vac}}
    </ion-segment-button>
    <ion-segment-button value="occupied" ng-click="cardss(2)">
        Occupied : {{occ}}
    </ion-segment-button>

  </ion-segment>
<!--
<label class="item-input-wrapper">

<i class="icon ion-ios-search placeholder-icon"></i>
<input type="search" placeholder="Search" ng-model="search">

</label> -->

</div>
<ion-content class=" backgrd has-subheader">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh(categories)">
      </ion-refresher>



<div ng-switch="categories">

   <ion-list >
            <div class ="card list cont_2 ">


              <div class="box">
              <p class=" box_1" ng-if="!card">Vacant</p>
              <p class=" box_1" >{{card}}</p>
              </div>




          <ion-item class=" cont_2 tech_2 head_6"  ng-if="show_repeat_a" ng-repeat="tenants_oc in list_oc ">
            <div class=" card list cont" style="margin-bottom: 0px;border-radius: 7px;">

            <div class="row ">
            <div class="col col-50  name ">
            Tenant Name
            </div>
            <div class="col col-10">
            </div> <div class="col brk_1">{{tenants_oc.name}}({{tenants_oc.username}})
            </div>
            </div>

            <div class="row ">
            <div class="col col-50  name ">
            Mobile Number
            </div>
            <div class="col col-10">

            </div> <div class="col "><a href="tel:{{tenants_oc.mobile_number}}" class="">{{tenants_oc.mobile_number}}</a>
            </div>
            </div>

            <div class="row " ng-if="tenants_oc.email">
              <div class="col col-50  name ">
                 Mail
               </div>
            <div class="col col-10">
              </div> <div class="col brk_1"><a href="mailto:{{tenants_oc.email}}">{{tenants_oc.email}}</a>
                </div>
                </div>

            <div class="row " ng-if="tenants_oc.property_address">
            <div class="col col-50  name ">
            Address
            </div>
            <div class="col col-10">

            </div> <div class="col brk_1">{{tenants_oc.property_address}}
            </div>
            </div>
            </div>

            </ion-item>


            <ion-item class=" cont_2 tech_2 head_6" ng-if="show_repeat" ng-repeat="tenant in list" >
              <div class=" card list    cont" style="margin-bottom: 0px;border-radius: 7px;">

              <div class="row ">
              <div class="col col-50  name ">
              Tenant Name
              </div>
              <div class="col col-10">
              </div> <div class="col brk_1">{{tenant.name}}({{tenant.username}})
              </div>
              </div>

              <div class="row ">
              <div class="col col-50  name ">
              Mobile Number
              </div>
              <div class="col col-10">

              </div> <div class="col "><a href="tel:{{tenant.mobile_number}}" class="">{{tenant.mobile_number}}</a>
              </div>
              </div>

              <div class="row " ng-if="tenant.email">
                <div class="col col-50  name ">
                   Mail
                 </div>
              <div class="col col-10">
                </div> <div class="col brk_1"><a href="mailto:{{tenant.email}}">{{tenant.email}}</a>
                  </div>
                  </div>

              <div class="row " ng-if="tenant.property_address">
              <div class="col col-50  name ">
              Address
              </div>
              <div class="col col-10">

              </div> <div class="col brk_1">{{tenant.property_address}}
              </div>
              </div>
              </div>

              </ion-item>

          </div>

         </ion-list>

      <ion-infinite-scroll ng-show="stop_loadmore" on-infinite="domore(categories)"  distance="10%"></ion-infinite-scroll>


  </div>
</ion-content>
<ion-content  ng-show="emptyimg" class="scr_1">
    <img src="img/Capture.jpg" alt="No Data Found" class="nodata_1 ">
    </ion-content>
</ion-view>
