<ion-view title="Verification" >
  <ion-content class=" padding backgrd">
 <div class="card cont_2 con_3">
      
        <div class="row">
          <div class="col col-33 name">
          Property Name
         </div>
         <div class="col col-10 ">
        
      : </div><div class="col">    </div>
        </div>
        <div class="row">
          <div class="col col-33  name">
       Tenant Name
         </div>
         <div class="col col-10 ">
        
      : </div><div class="col">  </div>
        </div>
    
     <div class="row  tech_1 ">
       <div class="col col-33 name">
       Description</div>
       <div class="col col-67">
         <textarea  rows="5"   placeholder="Description" ng-model="issue.description" ng-class="err.description"></textarea>
         <span ng-bind="err_word.description" ></span>
       </div>
     </div>

  <div class="row size_1">      
     <div class="col col-50 name">
  <p class="">Upload Images</p>
  </div>
  <div class="col col-50">
  <button  accept="image/*"  ng-model="files" ngf-multiple="true"  required class="button button-positive button-small hedd_4 icon ion-camera butn" ng-click="showActionsheet()" ng-model="photos" ng-class="err.photos"></button><span ng-if="err_word.photos"></span>
</div>

 </div>
 <div class="row  padd_5 ">
  <button class="button button-positive button-small hed_4" ng-click="issue_create(issue,image_a,video_a)">
Assign to Maintenance
  </button>
<button class="padd_2  button button-positive button-small hed_4" >

  Get Quote
</button>
</div>


  </ion-content>
</ion-view>