<ion-view view-title="Inspection">
    <ion-content class=" backgrd">
      <div class="list card name_hed ">
        <div class="item item-divider  head_1">
            Inspection Details
        </div>
        <label class="item item-input item-select head_6 label_1">
          <div class="input-label col-50 name col-center">
            Property Details<span style="color:red">*</span>
          </div>
          <div class=" col-50 col-center item-text-wrap brk_1_singleline" on-tap="property_show()">
          <span ng-if="!bind.customer_name" class="property_name_show">Select option</span><span  class=""ng-if="bind.customer_name" ng-bind="bind.customer_name + ' | ' + bind.property_address" ></span>
          </div>
          <!-- <input type="search"placeholder="search ....." ng-model="bind.customer_name" ng-click="property_show()"></input> -->
         <!-- <select ng-model="inspection.property_id" ng-options="item.id as item.customer_name + ' | ' + item.property_address + ' | ' + item.city_name   for item in property_name_list"
            ng-disabled="edit_pro" style="width: 61%;">
      <option selected value="" disabled>Select option</option>
    </select> -->
    <!-- <button class="button button-positive button-small hedd_4 icon ion-camera butn" ng-click="property_show()">
    </button> -->
        </label>

        <div class=" item-input">
          <span class=" col-50 input-label col-center name ">Inspection date<span style="color:red">*</span></span>

          <div name="min" class="item-icon-right col-50 " ion-datetime-picker date ng-model="inspection.inspection_date">
            <i class="icon ion-calendar " style="color: brown;font-size: 18px"></i>
            <strong>{{ inspection.inspection_date| date: "dd-MM-yyyy" }}</strong>
          </div>
        </div>
      </div>
      <div class="card name_hed">
        <div class="item item-divider  head_1">
            Check List
        </div>
        <div class="item" ng-repeat="category in categories">
          <b>{{category.name}}<span style="color:red">*</span></b>
<!--
        <div class="item " ng-repeat="category in inspection.categories">
          <b class="name">{{category.name}}</b> -->

          <div class="row">
            <div class="col col-50 ">
      <input type="radio" value="good" ng-model="category.condition"><b class="god_1">Good</b>

              <!-- <ion-radio ng-value="'good'" ng-model="category.condition">Good</ion-radio> -->
            </div>
            <div class="col col-50">
<input type="radio" value="damage" ng-model="category.condition"><b class="god_1">Damage</b>
            </div>
          </div>
          <ion-item class="item-accordion" ng-if="category.condition == 'damage'">
            <div class="hef"> Description <span style="color:red">*</span></div><br>
            <div class="tech_1 cont_2">
            <textarea rows="6" cols="40" placeholder="Enter Description" ng-model="category.description" ng-class="err.description" ></textarea></div>
            <span ng-bind="err_word.description"></span>
          </ion-item>
        </div>
        <div class="row ">
          <div class="col col-50 input-label col-center">
            Upload Image<span style="color:red">*</span>
          </div>
          <div class="col col-50">
            <button class="button button-positive button-small hedd_4 icon ion-camera butn" ng-click="showActionsheet()">
            </button>
    <span  class="errormsg" ng-show="image">Image must !!</span>

          </div>
        </div>
        <div class="row">
          <div class="col col-50 input-label col-center">
            <p class="">Upload Video</p>
          </div>
          <div class="col col-50">
            <button class="button button-positive button-small hedd_4 icon ion-videocamera butn" ng-click="captureVideo()"
              ng-model="videos"></button>
          </div>
        </div>
        <div class="row padding">
          <div class="col col-33 input-label col-center ">
            Description<span style="color:red">*</span></div>
          <div class="col col-67 padding tech_1 cont_2">
            <textarea rows="5"  placeholder="Enter Description" ng-model="inspection.description" ng-class="err.description"></textarea>
            <span ng-bind="err_word.description"></span>
          </div>
        </div>

  <ion-scroll direction="x" class="item item-list-detail"  ng-if="image_a.length > 0">
    <span ng-repeat="imgs in image_a">
    <img  ng-src="{{imgs  | convertFileSrc}}" ng-click="showImages($index,image_a)" class="image-list-thumb" />
    <a class="button ion-close-circled butn_delt" style="margin-top: -14px" ng-click="remove(imgs)"></a>
  </span>
  </ion-scroll>

<div class="text-center padding" ng-if="video">
  <video width="320" height="240" controls autoplay playsinline webkit-playsinline>
    <source src="{{video}}">
    Your browser does not support the video tag.
  </video>
</div>
        <div class="row">
          <div class="col col-60 text-center bts_1 ">
            <button class="button button-positive button-small hed_4" ng-click="inspection_store(inspection,categories,image_a,video,bind.id)">
              Submit
            </button>
          </div>

          <div class="col col-40 text-left ">
            <button class="button button-positive button-small hed_4 bts_2" ng-click="clear()">
              Clear
            </button>

          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
