<ion-view view-title="Issue Details">


  <ion-content class="backgrd">


          <div class=" card list con_3 " ng-hide="emptyimg" style="border: 1px solid #87cc9b; border-bottom-left-radius: 50px;
          border-top-right-radius: 50px; overflow: visible;">


            <!-- ================================================= -->

              <div class="row " ng-if="user.admin_role_id == 5 || user.admin_role_id == 6" >
                <div class="col col-33  name">
                 Update Issue
               </div>

               <div class="col col-10 "> :</div>
               <div class="col ">
                <a href="#/app/create_issue/{{master.id}}" ><i class="ion-edit" ></i></a>

              </div>
            </div>
            <div class="row " ng-if="master.tenant_name">
              <div class="col col-33  name">
                Tenant Name
              </div>

              <div class="col col-10 "> :</div>
              <div class="col ">{{master.tenant_name}}
              </div>
            </div>
          

            <div class="row" ng-if="master.issue_contact_number">
              <div class="col col-33 col-center name ">

              Mobile Number </div>

              <div class="col col-10">
              :</div>
              <div class="col "><a href="tel:{{master.issue_contact_number}}" class="">{{master.issue_contact_number}}</a>

              </div>
            </div>

            <div class="row">
              <div class="col col-33  name ">
             Description </div>
              <div class="col col-10">
              :</div>
              <div class="col brk_1">{{master.description}}
              </div>
            </div>
            <div class="row">
              <div class="col col-33  name">
              Address </div>

              <div class="col col-10">
              :</div>
              <div class="col brk_1"> {{master.property_address}}
                {{master.property_city}}
                {{master.property_state}}

                {{master.property_country}}
              </div>
            </div>
            <div class="row ">
              <div class="col col-33   name">
              Requested Date & Time</div>
            <div class="col col-10">
              :</div>
              <div class="col">{{master.availabletime_1}}

              </div>
            </div>

            <div class="row ">
              <div class="col col-33   name ">
              Alternate Date & Time</div>

              <div class="col col-10">
              : </div>
              <div class="col">{{master.another_avaliable_time_1}}
              </div>
            </div>
            <div class="row " ng-if="master.register_time">
              <div class="col col-33   name ">
              Register Date & Time</div>

              <div class="col col-10">
              : </div>
              <div class="col">{{master.register_time}}
              </div>
            </div>

            <div class="text-center padding" ng-if="vid_fn">
               <video width="100%" autoplay playsinline webkit-playsinline controls >
               <source ng-src="{{vid_fn |trustUrl}}" >
               </video>


   </div>



   <!-- =================================== -->





   <div ng-repeat="(key, value) in property_list | groupBy: 'category_name' ">
    <div class="item item-divider  head_1" style="margin-top:11px">
      {{key}}
    </div>
    <a class="item item-avatar item-icon-right" style="background-color:transparent;" ng-repeat="new_issue in value" href="#/app/issue_details/{{new_issue.id}}">
      <img src="img/issue.jpg">
      <h2 class="col-center">
        <!-- {{new_issue.property_name}} -->
        <!-- <br> -->
      {{new_issue.issue_token}} 
      </h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
  </div>


  <div class="row padd_1" ng-if="user.admin_role_id != 8 && user.admin_role_id != 7">
    <a class="button  button-positive button-small hed_4" ng-click="issue_change(master.id,'Issue Confirmed')" ng-if="master.status == 'New'">
      Issue Confirmed
    </a>
    <a class="button  button-positive button-small hed_4" ng-click="issue_change(master.id,'Issue Confirmed')" ng-if=" master.status == 'Waiting For Confirmation'">
      Issue Confirmed
    </a>
    <a class=" issue_1 button button-positive button-small hed_4" ng-click="showPopup(master.id,'Waiting For Confirmation')" ng-if="user.admin_role_id == 5 && master.status == 'New'">
      Assign to Assistant
    </a>
  </div>
</div>
</ion-content>
<ion-content  ng-show="emptyimg" class="scr_1">
  <img src="img/Capture.jpg" alt="No Data Found" class="nodata_1">
  </ion-content>
</ion-view>

