<ion-modal-view>
    <ion-header-bar  class="bar-balanced">
      <h1 class="title">{{issue_details.property_name}}</h1>
    <button class="button button-primary" ng-click="detail_modal_close()">Close</button>
    </ion-header-bar>
    <ion-content>
     <ion-list class="activity activity-inverse" ng-repeat="(key, value) in issue_details.issue_trace | groupBy: 'tracking_date'">
                        <p ng-bind="key"></p>
                        <ion-item ng-repeat="item in value">
                            <div>
                                <span ng-bind="item.tracking_time"></span>
                                <h3 ng-bind="item.property_name"></h3>
                                <div class="activity-body">
                                    <span>Updated By :</span>
                                    <span ng-bind="item.user_name"></span>
                                    <br>
                                    <span>Status :</span>
                                    <span ng-bind="item.issue_status"></span>
                                    <br>
                                    <span>Role :</span>
                                    <span ng-bind="item.status_by_name"></span>
                                     <br>
                                    <span>Message :</span>
                                    <span ng-bind="item.message"></span>

                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
    </ion-content>
  </ion-modal-view>