<ion-view title="Issue Details" >
  <ion-content class="backgrd">
    <div class="list cont_2 con_3">
      <div class="card">
      
    <div class="row">
      <div class="col col-50  col-center name">
      Issue Category </div>

      <div class="col col-10">
        <!-- <input type="text"   ng-model="issue_details.issue_category_name"  ng-disabled="true"> -->
          :</div><div class="col ">{{issue_details.issue_category_name}}

      </div>
    </div>
    <div class="row">
      <div class="col col-50 col-center name ">

      Description </div>

      <div class="col col-10">
        <!-- <textarea rows="4"  cols="23"  ng-model="issue_details.description" ng-disabled="true" ></textarea> -->
        :</div> <div class="col">{{issue_details.description}}

      </div>
    </div>

  <a class="item item-list-detail " ng-if="issue_details.image">
        <ion-scroll direction="x">
          <span ng-repeat="image in issue_details.image">
<img ng-src="{{img_url}}{{image.image_path}}/thumb/{{image.image_name}}" ng-click="showImages($index,issue_details.image)"
  class="image-list-thumb"  ng-class="{'position:relative': image.checked}">

        </span>
        </ion-scroll>
      </a>

      <div class="text-center padding" ng-if="issue_details.video">
         <video  class="padding" width="100%" autoplay playsinline webkit-playsinline controls >
               <source ng-src="{{vid_fn |trustUrl}}" >
               </video>



</div>


</div>
</div>
</div>

</ion-content>
</ion-view>
