<ion-view title="Status Of Issues">
   <div class="bar bar-subheader bar-balanced item-input-inset " ng-hide="emptyimg">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="search">
      </label>
    </div>
  <ion-content class="backgrd has-subheader">
      <ion-refresher on-refresh="property()" > </ion-refresher>
<!-- <img src="img/Capture.jpg" alt="No Data Found"  ng-show="emptyimg" class="empty_img"> -->


    <div class=" card list card_detail brk_1" ng-repeat="issue in issues | filter :search"  ng-hide="emptyimg">
 <a class="item bk-clr" href="#/app/issue_list/{{issue.id}}" style="color: #0d0d0d">
<!--       <i class="icon ion-chevron-right icon-accessory" style="float: right;font-size: 22px;color:black"></i> -->
      <div class="row" ng-if="issue.tenant_name">
        <div class="col col-50  name">
        tenant Name </div>
         <div class="col col-10 ">
           :</div> <div class="col brk_1"> {{issue.tenant_name}}

         </div>
     </div>
     <div class="row" ng-if="issue.issue_id">
      <div class="col col-50  name ">
      issue ID </div>
       <div class="col col-10">
         :</div> <div class="col"> {{issue.issue_id}}

       </div>
   </div>
   <div class="row"  ng-if="issue.property_name">
    <div class="col col-50  name ">
   Customer Name</div>

    <div class="col col-10 ">:</div>
      <div class="col brk_1">
      {{issue.customer_name}}

     </div>
 </div>

   <div class="row" ng-if="issue.issue_contact_number">
    <div class="col col-50 name " >
   Mobile Number</div>

    <div class="col col-10 ">:</div>
      <div class="col brk_1">
      {{issue.issue_contact_number}}

     </div>
 </div>

  <div class="row" ng-if="issue.issue_status">
    <div class="col col-50  name " >
 Status</div>

 <div class="col col-10 ">:</div>
  <div class="col col brk_1">
    {{issue.issue_status}}

     </div>
 </div>
 <div class="row"  ng-if="issue.property_name">
  <div class="col col-50  name ">
  Address</div>

  <div class="col col-10 ">:</div>
    <div class="col brk_1">
    {{issue.property_address}}

   </div>
</div>
<div class="row"  ng-if="issue.prop_head_assist_id == 19">
 <div class="col col-50  name item-text-wrap ">
 Propert Head Assistant</div>

 <div class="col col-10 ">:</div>
   <div class="col brk_1">
   {{issue.property_head_assistent}} ({{issue.pha_user_id}})

  </div>
</div>
      <div class="row" ng-hide="user.admin_role_id == 6 " ng-if="user.admin_role_id != 8">
    <div class="col col-50  name " ng-hide="user.admin_role_id == 6 ">
      Status change
 </div>
    <div class="col col-50 text_h2 ">
    <select class="form-control select_form" ng-model="issue.issues_status" ng-change="showPopup(issue.id,issue.issues_status)" required name="Select Option" ng-options="item as item for item in issue_status_list">
  <option disabled selected value="">Select Option</option>
       </select>
     </div>
 </div>
         <div class="row"  ng-if="issue.issue_status == 'Waiting For Confirmation' && user.admin_role_id == 6" class="text_h2">
        <div class=" col-50 name">Status change:</div>

        <div class="col text_h2">

  <select class="form-control select_form" ng-model="issue.issues_status" ng-change="showPopup(issue.id,issue.issues_status)" required name="Select Option" ng-options="item as item for item in issue_status_list">
  <option disabled selected value="">Select Option</option>
       </select>
     </div>

   </div>


        <span class="row side_row">
   <div class="col col-80" style="padding:0px;height:0px">

   <div has-header="true" padding="true">
     <progress id="progressbar" max="100" value="{{issue.progress}}"></progress>
      </div>
    </div>
    <div class="col col-20">
   <div has-header="true" padding="true" class="progres_1">
         <span id="progressbarlabel">{{issue.progress}} %</span>
      </div>    </div>
  </span>

</a>
</div>

</ion-content>
<ion-content  ng-show="emptyimg" class="scr_1">
  <img src="img/Capture.jpg" alt="No Data Found" class="nodata_1" >
  </ion-content>
</ion-view>
