<ion-view view-title="Property List" class="properties">
  <div class="bar  bar-subheader bar-balanced item-input-inset ">

    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="field" ng-keyup="search_field(field,categories)">
    </label>
  </div>
  <div  class="bar  bar-subheader bar-balanced item-input-inset ">
    <ion-segment ng-model="categories" full="true"  style="background-color: #33cd5f;border-color: #ab8e8c;">
      <ion-segment-button value="vacant" ng-click="cardss(1)">
          Vacant : {{vac}}
      </ion-segment-button>
      <ion-segment-button value="occupied" ng-click="cardss(2)">
          Occupied : {{occ}}
      </ion-segment-button>

    </ion-segment>

  </div>

      <ion-content class=" backgrd has-header has-subheader">
          <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh(categories)">
            </ion-refresher>



<div ng-switch="categories">

    <ion-list >
             <div class ="card list cont_2 ">


               <div class="box" ng-show="!emptyimg">
               <p class=" box_1" ng-if="!card">Vacant</p>
               <p class=" box_1" >{{card}}</p>
               </div>

      <ion-item class=" cont_2 tech_2 head_6" style="padding-top: 30px" ng-if="show_repeat_a" ng-repeat="property in properties_oc" href="#/app/property_details/{{property.id}}" ng-show="!emptyimg">
        <div class=" card list   cont_4 " style="margin-bottom: 0px;border-radius: 7px;">

      <div class="row ">
        <div class="col col-50  name ">
          Customer Name
        </div>
        <div class="col col-10">
      </div> <span class="col ">{{property.customer_name}}
        </span>
      </div>
      <div class="row">
          <div class="col col-50  name ">
            Property Address
          </div>
          <div class="col col-10">
          </div> <span class="col brk_1">{{property.property_address}}
          </span>
        </div>
      </div>

      </ion-item>

      <ion-item class=" cont_2 tech_2 head_6" ng-if="show_repeat" ng-repeat="property_v in properties" href="#/app/property_details/{{property_v.id}}" ng-show="!emptyimg">
        <div class=" card list   cont_4 " style="margin-bottom: 0px;border-radius: 7px;">

      <div class="row ">
        <div class="col col-50  name ">
          Customer Name
        </div>
        <div class="col col-10">
      </div> <span class="col ">{{property_v.customer_name}}
        </span>
      </div>
      <div class="row">
          <div class="col col-50  name ">
            Property Address
          </div>
          <div class="col col-10">
          </div> <span class="col brk_1">{{property_v.property_address}}
          </span>
        </div>
      </div>

      </ion-item>
    </div>
  </ion-list>
  <ion-infinite-scroll  on-infinite="domore(categories)" ng-show="stop_loadmore" distance="10%"></ion-infinite-scroll>
</div>
</ion-content>
<ion-content  ng-show="emptyimg" class="scr_1">
    <img src="img/Capture.jpg" alt="No Data Found" class="nodata_1 ">
    </ion-content>
</ion-view>
