<ion-view view-title="Vacant Properties">
  <ion-content class="padding backgrd">
    
      <ion-refresher on-refresh="properties_list('available',0)">
      </ion-refresher>

   <ion-list>
    <ion-item class=" card list padding-top" ng-repeat="vacant_property in vacant_properties" href="#/app/property_details/{{vacant_property.id}}">
      <div class="item item-thumbnail-left">
      <img src="img/home_1.jpg">
      <h2>{{vacant_property.property_name}}</h2>
      <p>{{vacant_property.property_address}}</p>
      <p>{{vacant_property.total_build_area}}</p>
    </div>
    </ion-item>
   </ion-list>
 <div class="item item-text-wrap text-center" ng-if="!moreDataCanBeLoaded" >
            END OF THE PAGE
        </div>
   <ion-infinite-scroll ng-if="moreDataCanBeLoaded" icon="ion-loading-c"  on-infinite="properties_list('available')">
</ion-infinite-scroll>
</ion-content>
</ion-view>
