 <ion-modal-view cache-view="false" ng-controller="OpenCtrl">

   <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Technician Details</h1>
    <button class="button button-clear button-primary" ng-click="detail.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
   <ion-list>
    <div ng-repeat="a in b">
      <ion-item class="item-stable"
      ng-click="text(a)"
      ng-class=" istextShown(a)">
      Issues Name{{ Issues.name}}
    </ion-item>
    <ion-item class="item-accordion"
    ng-repeat="item in a.items"
    ng-show="istextShown(a)">
    <div class="card">
     <div class="item item-divider text-center">
      Technician List
    </div>
    <div class="row">
      <div class="col col-33">
       raja
     </div>
     <div class="col col-33">
      <a class="ion-android-call"></a>
    </div>
    <div class="col col-33">
      50%
    </div>
  </div>
  <div class="row">
    <div class="col col-33">
     raja
   </div>
   <div class="col col-33">
    <a class="ion-android-call"></a>
  </div>
  <div class="col col-33">

   50%
 </div>
</div>
</div>

</ion-item>
</div>

</ion-list>
</ion-content>
</ion-modal-view>