/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */

@font-face {
font-family: 'Cabin-Regular';
src: url('../assets/Cabin-Regular.ttf')  format('truetype');
font-weight: normal;
font-style: normal;


}
.button.button-positive {
    background-color: #1f7b39;
 }
     .button.button-positive:hover {
      color:#fff;
}
     .button.button-positive.active, .button.button-positive.activated {
      background-color: #1f7b39}
.side-logo{
height:20vh;
}
.side-logo img{
padding-top: 20px;
}
.custom_font
{
font-family: 'Dancing Script', cursive !important;
}
.iconarea_1
{
padding-left: 12px;
}

body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title,text-center {
font-family: 'Cabin-Regular' !important;
}
.myprop a{
margin:12px 8px;

}
.myTable{
width: 100%;
background-color: #f1f1c1;
margin:10px 0px 30px 0px;
}
.myTable, th,td{
border:1px solid green;
padding:5px;
}
.head{
color:green;
}
.pagination{
display: flex;
justify-content: center;
}
.backgrd
{
background: linear-gradient(to top left, #a0bc43 0%, #ffffcc 100%);
border: transparent;

}

.bk{
border-color: #ffffff!important;
}
.backgrd2{
background: linear-gradient( 120deg ,rgba(0, 219, 255, 0.6), rgba(165, 192, 75, 0.6)), url("../img/building.jpg") no-repeat;
background-position: center;
background-size: 600%;
}
.hed_2 label
{
background-color: transparent;
border: none;
border-bottom: 1px solid black;
margin-right: 50px;
margin-left: 50px;
padding-left: 0px;
}

.item1{
background-color: rgb(255, 255, 255);
color: rgb(68, 68, 68);
position: relative;
z-index: 2;
display: block;
font-size: 16px;
border-color: rgb(221, 221, 221);
margin: -1px;
padding: 6px;
border-width: 1px;
border-style: solid;

}


.send_btn{
margin-top: -40px;
}
.log_place input::-webkit-input-placeholder {
color: black !important;
}

.log_place input:-moz-placeholder {
color: black !important;
}

.log_place input::-moz-placeholder {
color: black !important;
}

.log_place input:-ms-input-placeholder {
color: black !important;
}

.hed_2
{
color: black;
}
.red_border {
border: 1px solid red !important;
}
.hed_4
{
border-radius: 30px;
background-color: #76bd1d !important;
padding-right: 20px !important;
padding-left: 20px !important;
margin-bottom: 16px;
/* margin-right: 20px;*/
margin-top: 40px;

}
.hed_8
{
border-radius: 30px;
background-color: #76bd1d !important;
padding-right: 20px !important;
padding-left: 20px !important;
margin-top: -25px;
margin-left: 211px;

}
.hed_44
{
border-radius: 30px;
background-color: #76bd1d !important;
padding-right: 20px !important;
padding-left: 20px !important;
margin-bottom: 16px;
margin-top: 10px;
left: 75px;

}
.hed_45
{
left:37px;

border-radius: 30px;
background-color: #76bd1d !important;
padding-right: 20px !important;
padding-left: 20px !important;
margin-bottom: 16px;
margin-top: 10px;

}
.hed_46
{
border-radius: 30px;
background-color: #76bd1d !important;
padding-right: 20px !important;
padding-left: 20px !important;
margin-bottom: 16px;
margin-top: 10px;
margin-left: 23px;


}
.hedd_4
{
border-radius: 36px;
background-color: #76bd1d !important;
padding-right: 20px !important;
padding-left: 20px !important;
margin-bottom: 0px;
margin-top: 0px;
}

.hed_6
{
padding: 17px;
border-radius: 4px;

}
.progres_1{
margin-top: 10px!important;
}
.spinner{

padding: 20px;
border-radius: 5px;
background-color: transparent!important;
color: #fff;
text-align: center;
text-overflow: ellipsis;
font-size: 15px
}
.butn
{
background-color: transparent;
color: #76bd1d;
}
.bd_2
{

padding: 0 23px 0 0px !important;
right: 20px !important;
}

.err_word{
color:#c31616;
}
.bk12{
border-color: black!important;
}

.cont_1 a
{
text-decoration: none ;
}
table, th, td {
border: 1px solid #988f8f;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
th,td {
text-align:center;
}
th{
color: #b56933;
background-color: #b7efcd;
}
.errormsg{
color:red;
float:right;
}

.text_h2 select {
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #33cd5f;
border-radius: 5px 5px 5px 5px;
box-shadow: inset 1px 0px 20px 5px #E8E8E8;
height: 29px;
/* margin: 0 0 0 25px; */
padding: 0px;
width: 145px;
}
.text_h2 select > option{
border: 1px solid #33cd5f;

background-color: #E8E8E8!important
}
.select-selected {
background-color: DodgerBlue!important;
}

.text_2
{
color: red;
}
.side_row{
padding:0px!important;;
}
.butn_1
{
border: none;
background: none;
}
.butn_2
{
margin-top: 15px;
}
.notiy_1{
color:red;    padding-top: 10px;margin-bottom: 1px;
}
.red1 a{
padding-left: 4px;
color: #387ef5;
font-size: 13px;
}
.notif_2{
background-color: #eeebeb;
opacity: 0.6;
}
.nodata_1{
width: 100%;height: 100%;
}
.scr_1{
overflow-y: hidden;
}


.badge.badge-assertive.menu_noti{

background-color: #ce483e;
color: #fff;
padding-left: 20;
/* padding: 3px; */
margin-top: 6px;
padding-left: 8px;
padding-bottom: 3px;
padding-right: 7px;
padding-top: 2px;
}
.bar .buttons-right span {
margin-left: -14px !important;}
.notif_1{

padding: 0px 7px;

text-indent: 12px;

text-align: justify;
box-shadow: inset -1px 1px 9px 0px #71b18a;
}
.red_1{
color:red;
float: right;
}
.limited-text{


overflow:hidden !important;
text-overflow:ellipsis !important;
white-space: nowrap;


}
.card_1{
overflow: hidden;
margin: 20px 10px;
border-radius: 2px;
background-color: #fff;
}
.card_detail{
padding-top: 1px;
padding-bottom: 1px;
box-shadow: 2px 2px 1px 0px #6a6f6c;
}
.card_detail, .list-inset {
overflow: hidden;
/* margin: 20px 7px;*/
border-radius: 22px;
background-color: #fff;
}
.card_details{
padding-top: 6px;
padding-bottom: 0px;
box-shadow: inset -1px 1px 9px 0px #71b18a;
}
.card_details, .list-inset {
overflow: hidden;
/* margin: 20px 7px;*/
border-radius: 22px;
background-color: #fff;
}
.tag_1
{
float: right;
min-width: 43px;
min-height: 20px;
}

.tag_2{
padding-top: 38px;
}
.tag_3
{
padding-top: 90px;

}
.name
{    color: #b56933;

}
.name_1
{
color: #b56933;
font-size: 16px;
}
.larger
{

font-size: 26px;
}
.larger1
{

font-size: 60px;
}
.icon_blk{
color: #16191f!important;
}
.icon_red{
color: #e42f3896!important;
}
.icon_grr{
color: #0de88dc2!important;
}
.text_1
{
padding: 43px 39px 22px 0px !important;
}
.tech_1 textarea
{
background-color:#f7f7f7 !important ;
width: 100%;

}
.tech_3 textarea
{

background-color: #e8e8e8 !important;
width: 100%;
}
.tech_2 input
{

background-color:#f2f2f2;
margin-right: 11px;
}
.cont_2 input
{
padding-left: 12px !important;
margin-right: 11px;
}
.cont_2 textarea
{
padding-left: 10px !important;

}
.platform-ios .cont_2 input
{
margin-right: 28px;

}
.platform-ios .tech_2 input
{
margin-right: 28px;

}

.bag_img
{
padding-top: 30px;
}
.bg_img {

background: linear-gradient(to left, #1A2980 , #26D0CE);
}
.img_overlay
{
position: relative;

}
.img_overlay img
{
height: 30vh;
}
.img_overlay .overlay
{
position: absolute;
width: 100%;
left: 0;
font-size: 23px;
right: 0;
background: rgba(0,0,0,0.3);
color: #fff;
top: 0px;
bottom: 5px;
text-align: center;
}
.img_overlay .overlay  i
{
bottom: 43%;
position: absolute;
font-size: 17px;
right: 5%;
}
.img_overlay .overlay p
{
bottom:40%;
position: absolute;
left:0px;
right:0px;
}
.icon_common
{
font-size: 65px !important;
color: white;

}
.round-icon
{  display: inline-block;
position: relative;
cursor: pointer;
width: 100px;
height: 40px;
/* add border to the buttons */

padding: 0px;
text-decoration: none;
text-align: center;
color: #fff;
font-size: 84px;
font-weight: normal;
line-height: 1.8em;
border-radius: 20px;
-moz-border-radius:27px;
-webkit-border-radius:52px;
margin: 20px 10px;
}



.ion-android-settings{

border-color: rgba(255,255,255,0.1);text-shadow: 0px 0px 2px #000;
}


.ion-android-settings:hover{
color: #76bd1d ;
text-shadow: none;

border-color: #4060A5; /* change the border color on mouse hover */
}


.ion-android-call{

border-color: rgba(255,255,255,0.1);text-shadow: 0px 0px 2px #000;
}


.ion-android-call:hover{
color: #76bd1d ;
text-shadow: none;

border-color: #4060A5; /* change the border color on mouse hover */
}

.ion-ios-chatboxes{

border-color: rgba(255,255,255,0.1);text-shadow: 0px 0px 2px #000;
}


.ion-ios-chatboxes:hover{
color: #76bd1d ;
text-shadow: none;

border-color: #4060A5; /* change the border color on mouse hover */
}
.ion-document-text{

border-color: rgba(255,255,255,0.1);text-shadow: 0px 0px 2px #000;
}


.ion-document-text:hover{
color: #76bd1d ;
text-shadow: none;

border-color: #4060A5; /* change the border color on mouse hover */
}


.home_1
{
border-color: rgba(255,255,255,0.1);
text-shadow: 0px 2px 3px #672222;
}
.home_1:hover
{
color: #76bd1d ;
text-shadow: none;
border-color: #4060A5;
}
.side-menu-item .item,.side-menu-item  .item-complex .item-content, .item-radio .item-content{
background-color: transparent;
border-color: rgba(255,255,255,0.1);text-shadow: 0px 0px 5px #000;
color: #fff;

}
.item-content.activated{
background:rgba(255,255,255,0.4)!important;
}

.side-menu-item i{
color: #231f20;
text-shadow: 0px 0px 1px #fff;
}


.list_1
{
margin-top: 20px;
}
.txt_box
{
margin-left: 40px;
}
.pass_1
{
text-decoration: none;
color: black;
}
.pass_2
{
text-decoration: none;
color: #1d6548;
font-size: 16px;

padding-right: 14px;
float: right;
}

.txt_1
{
background-color: none !important;
background-image: none !important;
}
.clock_1
{
border: transparent !important;
padding-top: 8px;
}

.item-radio .item-content
{
color: black !important;
text-shadow: none !important;
}

.cloned-text-input { display: none !important; }

.item-input input[type=“text”].cloned-text-input ,.item-input textarea.cloned-text-input{
display: none !important;
}

.image-modal {
width: 100% !important;
height: 100% !important;
top: 0 !important;
left: 0 !important;
background: black !important;
}


.section {
display: inline-block;
white-space: nowrap;
overflow-x: scroll;
overflow-y: hidden;
}

.image-list-thumb {
padding: 2px 2px 2px 2px;
height: 150px;

}

.image-modal {
width: 100% !important;
height: 100%;
top: 0 !important;
left: 0 !important;
}

.transparent {
background: rgba(0, 0, 0, 0.7);
}

.slider {
width: 100%;
height: 100%;
}

.image {
width: 100%;
height: 600px;
background-size: contain;
background-repeat: no-repeat;
background-position: center, center;
}
.proper_img
{
height: 50% !important;
}
.ion-datetime-picker .month-year .item-input select
{
padding: 0px 15px 0px 15px !important;
}

.name_hed{
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3) !important;
}
.head_1{
background-color: #b7e8d9;
text-align: center;

}
.head_2
{
padding: 13px 0px 0px 14px;
border-style: none;
}
.head_6
{
border-style: none;
}
.item-checkbox
{
border:0px !important;

padding-left: 50px;
padding-right: 3px;
}

.bts_1{
margin-left: 11px;
}
.bts_2{
left: -37px;
}

.btnspop
{
background-color:#33cd5f !important;
}
.card_leave
{
background-color: #d8e1de !important;
}
.item_leave
{
/* padding: 8px;*/
margin-bottom: -21px;
}
.item_leave1
{
padding: 8px;
}
.marg_4
{
font-size: 12px;
padding-left: 15px;
color: red;
}
.butn_1
{
margin-top: 0px !important;
}

.ico_2
{
left:116px !important;
}
.divider_2{
margin-bottom: -1px;

background-color: #49b597 !important;
text-align: center;
}
.ico_1{
padding-left: 55px !important;
left: 0px !important;
border:transparent !important;
text-overflow: inherit !important;
}
.area_1{
margin-right: 8px;
margin-left: -12px;
background-color:#f4f4f4;
}

.bac_1{
background-color: #c1c1c1;
}
.bac_2 .item{
font-size: 15px;
overflow: visible;
padding-left: 8px;
}
.lk_1{
color: black;
text-decoration: none !important;
}
.con_3{
font-size: 17px;
}
.st_1
{

font-size: 14px !important;
padding:11px;
overflow: visible;

}
.butn_2 button
{
margin-left: 15px;
background-color: #76bd1d !important;
color: white;
border-radius: 5px;
padding-left: 12px;
padding-right: 12px;
font-size: 15px;

}

.size_1{
font-size: 15px;
}
.ag_1
{
margin-left: -16px !important;
}
.pg_1{
padding-left: 1px;
}
.con_4{
font-size: 15px;
}
.border_1
{ border-style: none !important;

}
.bod_1 .item
{
border-style: none !important;
}
.work_1
{
font-size: 20px;
color: #ff3f3f;
}

.butn_delt
{

min-width: 0px;
min-height: 0px;
color: #76bd1d;
background: none;

}
.butn_delt:hover
{
color: #76bd1d;
}

.butn_delt_1

{
min-width: 0px;
min-height: 0px;
color: #76bd1d;
background: none;
font-size: 22px;

top: 4px;
position: absolute;
}
.butn_delt_1:hover
{
color: #76bd1d;
}
.data_1
{
font-size: 17px;
text-align: center;
margin-top: 130px;
color: #aa1212;

}
.amout_1
{

background-color:#f4f4f4 !important;
margin-right: 8px !important;
margin-left: -4px !important;

}
.link_1
{
font-size: 43px;
color: #639e38;
padding-left: 38px;
}
.link_2
{
font-size: 30px;
color: #639e38;

}
.name_2
{
color: #c53261 !important;
font-size: 16px !important;
}
.tex_1
{
background-color: #cacaca;
}
.txt_2
{
margin-right: 52px;
padding: 0px !important;
}

.amout_2
{
background-color: #f4f4f4 !important;
margin-right: 7px !important;
/*margin-left: -10px !important;*/
border: none;
}

.warp_2 a
{
color: #7d0e4a ;
text-decoration: none;
font-size: 15px;
}
.warp_3
{
font-size: 10px;
float: right;
padding-top: 17px;
}

.time_1
{
padding-right: 11px;
margin-right: -36px;
padding-top: 10px;
color: #d05252  ! important;
}
.god_1
{
padding-left: 11px;
}

.platform-ios .label_1  select
{

position: relative !important;
}
.main_l1
{
border-radius: 20px;
background-color: #86d7cc;
padding: 8px 8px;
margin-right: 7px;
font-size: 14px !important;

}
.main_l1:active
{
color: red;
background-color: pink;
}
.main_l2
{
border-radius: 20px;
background-color: #86d7cc;
padding: 8px 8px;
margin-right: -15px;
margin-left: -2px;
font-size: 14px !important;

}
.main_l3
{
border-radius: 20px;
background-color:#86d7cc;
padding: 8px 8px;
margin-left: 16px;
font-size: 14px !important;

}



.scr_ios
{
overflow-y:hidden;
}

.platform-ios .createbtns2
{

background-color:#c9c5c5;
padding-left: 12px;

}
.platform-ios .createbtns
{

background-color:#c9c5c5;
padding-left: 12px;

}
.platform-ios .createbtns4
{
background-color:#c9c5c5;
padding-left: 12px;
}


.platform-android .popover
{
margin-top: 5px !important;
}
.platform-ios .popover
{
margin-top: 6px !important;
}
.platform-ios .popover
{

border-radius: 4px 6px 0px 89px;
box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
}
.platform-android .popover
{


border-radius: 4px 6px 0px 89px;
box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
}
.btnspop{
/* background-color: #33cd5fab!important;*/
border-radius: 4px 6px 0px 89px;
height: 109px;
width: 110px;
margin-right:10px!important;
right:20px!important;
top: 38px!important;

box-shadow: 3px 4px #1d1b1b66;
}

.btnspop_1
{
background-color: #33cd5fab!important;
border-radius: 4px 6px 0px 89px;
height: 78px!important;
width: 83px !important;
margin-right:10px!important;
right:26px!important;
top: 38px!important;


}
.createbtns{
position: relative;
border-radius: 29px;

width: 40px;
top: 10px;
left: 19px;
height: 40px;
font-size: 20px;
}
.createbtns2{
position: relative;
border-radius: 29px;
width: 40px;
height: 40px;
top: 52px;
left: 20px;
font-size: 20px;
}
.createbtns3
{
position: relative;
border-radius: 29px;
width: 40px;
height: 40px;
top: 15px;
left: 25px;
font-size: 20px;
}
.createbtns4
{
position: relative;
border-radius: 29px;
width: 40px;
height: 40px;
top: 7px;
left: 30px;
font-size: 20px;
}
.createbtns:hover
{
color:#ff3b00;

}
.createbtns2:hover
{
color:#ff3b00;

}
.marg_tpp
{
margin-top: 15px;
}
.brk_1
{
word-break: break-word;
white-space: normal;
}
.brk_1_singleline{
  text-overflow: ellipsis;white-space: nowrap; overflow: hidden;
}
.property_name_show{
  float: right;margin-right: 49px;color: #59656d
}
.brk_1_singleline .item-select:after{
  content:"" !important;
}
.item-input-wrapper
{
border-radius: 11px;
padding-right: 8px;
padding-left: 8px;
background: #dcdeda;
}
.padd_1
{
padding-left: 50px;
/* padding-left: 87px;*/
}
.padd_2
{
margin-left: 70px;
/*  margin-left: 10px;*/
}
.padd_3
{
margin-left:90px;

}
.padd_4
{
margin-left:25px;
}
.padd_5
{
padding-left: 40px;
}
.badge.badge-assertive
{
background-color: #4c8a33;
color: #fff;
padding-left: 20;
/* padding: 3px; */
margin-top: 13px;
padding-left: 14px;
padding-bottom: 5px;
padding-right: 15px;
padding-top: 5px;
margin-left: 10px;
}
.occp_1{
font-size: 18px;
margin-top: -11px;
font-weight: 600;
}
.occp_2{
font-size: 18px;
text-align: right;
font-weight: 600;
margin-top: -11px;
}
.box
{

padding-top: 12px;
padding-bottom: 10px;
background: #a1e2c7;
margin-top: -3px;
text-align: center;
padding-right:77px;
/*  padding-left: 50px;*/
/* border-radius: 3px 1px 91px 89px;*/
box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);

}
.box_1
{

padding-left: 48px;
display: inline;
font-size: 18px;
padding-bottom: 9px;
margin-left: 30px;
}
.email_1
{
padding-right: 8px !important;
}
.atten_icon
{
border-style: none !important;
background-color:transparent !important;

}
.attent_1
{

background-color:white !important;
}
.hed_butn
{
border-radius: 30px;
background-color: #76bd1d !important;
padding-right: 21px !important;
padding-left: 19px !important;
margin-left: 13px;

}
.con_txt
{
float: right;
color: #020202;
}
ul.rating li {
display: inline;
border: 0px;
background: none;
padding: 5px 10px;
}
ul.rating li i {
font-size: 20px;
color: red;
}
.wrap_1{

background-color: white;
margin-left: 63px;
margin-right: 30px;
width: 51%;
}
.cad_2{
background-color: transparent;
border-radius: 9px;
}
.pa_1
{
margin-left: -48px;
margin-top: 5px;
}
.hed_a
{
border-radius: 0px;
background-color:  #f08080!important;
padding-right: 19px !important;
padding-left: 20px !important;
margin-left: 8px;

}
.hed_b
{
border-radius: 0px;
background-color:#0c7cca !important;
padding-right: 19px !important;
padding-left: 20px !important;
margin-left: 8px;

}
.hed_c
{
border-radius: 0px;
background-color: #787878 !important;
padding-right: 19px !important;
padding-left: 20px !important;
margin-left: 8px;

}
td ,textarea{
text-transform: capitalize;
}
.check{

padding-bottom: 49px;padding-top: 13px; margin-left: -8px;
}
.paper-curl-right-side:hover {
right: 70;

border-radius: 0 6% 6% 0 / 0% 40% 40% 0;
}
.text_h3 select {
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #33cd5f;
border-radius: 5px 5px 5px 5px;
box-shadow: inset 1px 0px 20px 5px #E8E8E8;
height: 34px;
padding: 4px;
width: 100%;

}
.issue_1
{
margin-left: 11px;
}
.hedd_6
{
border-radius: 6px;
background-color: #76bd1d !important;
padding-right: 9px !important;
padding-left: 9px !important;
margin-bottom: 0px;
}
.paddi_1
{
padding-left: 20px;
}
::placeholder {
color:  #66757F !important;
opacity: 1; /* Firefox */
}
.padding_w
{
color:  #66757F !important;
padding-left: 19px;
font-size: 16px;
font-weight:500;

}
.me_1
{
border-top: none;
}
.side_name
{
font-size: 18px;
padding-top: 16px;
padding-bottom: 11px;
color: #c31010;
}
.meg_1{
font-size: 13px;color: #191818;padding-left: 17px;
}

.icon-accessory
{
color: #7f7676 !important;

}
.cont_4{

margin-left: -8px !important;
margin-right: -42px !important;
margin-top: 5px !important;
}
.cont{

margin-left: -8px !important;
margin-right: -8px !important;
margin-top: 5px !important;
}
.marg_5 {
font-size: 12px;
padding-left: 140px;
color: red;

}
.zoom-pane {
width: 100% !important;
height: 100% !important;
}

.zoom-pane .scroll {
min-height: 100% !important;

display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-direction: normal;
-moz-box-direction: normal;
-webkit-box-orient: horizontal;
-moz-box-orient: horizontal;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
-webkit-flex-wrap: nowrap;
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
-webkit-box-pack: center;
-moz-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-align-content: stretch;
-ms-flex-line-pack: stretch;
align-content: stretch;
-webkit-box-align: center;
-moz-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
}

.zoom-pane img {
width: 100% !important;
vertical-align: middle !important;
}

.image-modal {
width: 100% !important;
height: 100% !important;
top: 0 !important;
left: 0 !important;
background: black !important;
}
.name_3
{
color: #4a4a4a;
}
.class_2
{
background-color: #f0f0f0;
padding: 9px 38px;
}
.class_1
{
background-color: #f0f0f0;
padding: 9px 38px;
}
.name_4
{
color:#115a6b !important;
font-size:14px !important;
}
.alrt
{
text-align: center;
padding: 10px 10px !important;
}
.issue_item
{
border-radius: 20px;
width: 72%;
margin-top: -6px;
margin-left: 31px;
}
.add_1
{
margin-left: -8px;
margin-right: -53px;
}
.platform-ios .add_1


{
margin-left: -0px;
margin-right: -106px !important;
}
.platform-ios.textarea
{
border-radius: none;
}
.platform-ios.change_ios
{

}
.ser_hed
{
padding-top: 13%;
font-size: 20px;
text-transform: capitalize;
}
.col
{
text-transform: capitalize;
}


@media (min-width: 360px) and (max-width: 640px) and (orientation: landscape) {



.scr_ios
{
overflow-y:scroll;
}
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {



.scr_ios
{
overflow-y:scroll;
}
}
#ion-segment .full.active{

  background: #fff;
  color:#000;
  border:none;
}
.properties .has-subheader {
    margin-top: 40px;
}
